:root {
    /*colores*/
    --color-azul-finn: #194f90;
    --color-azul-tufts: #4596D9;
    --color-azul-start: #2678BA;
    --color-gris-finn: #7b868c;
    --color-gris-finnl2: #5c6469;
    --color-gris-finn-claro: #f2f2f2;
    --color-gris-finn-muyclaro: #f8f9fc;
    --color-negro-finn: #000000;
    --color-negro-ceniza: #42494C;
    --color-azul-mdark: #071D49;

    /*Font Size*/
    --fs-title-section-h2: 54px;
    --fs-subtitle-section-h3: 25px;
    --fs-texto-section-p: 19px;

    --fs-titulo-grande: 67px;
    --fs-contenido-grande: 28px;
    --fs-contenido-mediano: 23px;


    --pa-muygrande: 120px 0px;
    --pa-grande: 80px 0px;
    --pa-mediano: 40px 0px;



    /*font familt*/
    --ff-globa-estandar: 'Aptos',sans-serif;
    --ff-section-h2: 'Aptos',sans-serif;
    --ff-globa-medium: 'Aptos',sans-serif;
    --ff-globa-black: 'Aptos',sans-serif;




}
