.dataTables_paginate a{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d9d9d9;
    border-image: none;
    border-style: none;
    cursor: pointer;
    outline: 0 none;
    padding: 4px 8px;
}
.dataTables_filter{
    float: right;
    width: 50%;
    margin-bottom: 5px;
}
.dataTables_length{
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
div.dataTables_filter input {
    border: 1px solid #ddd;
    border-radius: 6px;
    display: inline-block;
    margin-left: 0.5em;
}
div.dataTables_paginate {
    margin: 9px;
}

div.dataTables_wrapper div.dataTables_paginate {
margin: 0;
white-space: nowrap;
text-align: right;
position: absolute;
bottom: 0;
right: 0;
}