@font-face {
    font-display: swap;
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-display: swap;
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: var(--ff-globa-estandar);
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

.s-block {
    /*padding: var(--pa-grande);*/
    padding: 80px 0px;
    min-height: 100%;
    width: 100%;
}

.b-mar-1 {
  padding-bottom:  70px;
}

.b-mar-5 {
  padding-bottom:  30px;
}

.mr--30 {
    margin-right: -30px;
}

.order-first {
    -ms-flex-order: -1;
    order: -1
}

.order-last {
    -ms-flex-order: 13;
    order: 13
}

.order-0 {
    -ms-flex-order: 0;
    order: 0
}

.order-1 {
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -ms-flex-order: 2;
    order: 2
}

.s-block .title {
    font-size: 42px;
    margin-bottom: 60px;
    color: #000000;
    font-weight: 700;
}

.s-block p {
    font-size: 16px;
}

.s-block .btn {
    z-index: 1;
    height: 45px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    padding: 0px 30px;
    border-radius: 0px;
    position: relative;
    text-align: center;
    font-family: var(--ff-globa-estandar), sans-serif;
    background-color: var(--color-azul-mdark);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 50px;
}
.a-block .btn {
    z-index: 1;
    height: 45px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
    padding: 0px 30px;
    border-radius: 0px;
    position: relative;
    text-align: center;
    font-family: var(--ff-globa-estandar), sans-serif;
    background-color: #000000;
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 50px;
}

.ul-li-icon > ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
}

.ul-li-icon > ul > li {
    width: 100%;
    display: table;
    list-style: none;
    margin-bottom: 50px;
}

.ul-li-icon .icon {
    float: left;
    margin-top: 3px;
}

.ul-li-icon .icon > img {
    width: 45px;
}

.ul-li-icon .content {
    display: table;
    padding-left: 30px;
}

.ul-li-icon .content h4.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.img-hover-effect .item-content {
    top: 50%;
    left: 0px;
    right: 0px;
    z-index: 2;
    padding: 0px 30px;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
}

.fix-img .img-hover-effect img {
    margin-bottom: 20px;
}

.img-hover-effect .item-content .item-title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
    width: 100%;
    display: block;
    color: #ffffff;
    line-height: 1.4;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
}

.img-hover-effect .item-content .item-subtitle {
    font-size: 14px;
    opacity: 0;
    width: 100%;
    display: block;
    color: #ffffff;
    line-height: 1.4;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
}

.img-hover-effect.effect:hover:before {
    width: 80%;
}

.img-hover-effect.effect:before {
    top: 46%;
    left: 50%;
    width: 0%;
    z-index: 1;
    height: 82%;
    content: "";
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
    transform: translate(-50%, -50%);
}

.img-hover-effect:hover .item-content .item-title {
    transition-delay: 0.3s;
    opacity: 1;
    transform: translateY(0px);
}

.img-hover-effect:hover .item-content .item-subtitle {
    transition-delay: 0.5s;
    opacity: 1;
    transform: translateY(0px);
}

.bg-light-gray {
    background-color: var(--color-gris-finn-claro);

}

.big-block {
    width: 100%;
    /*height: 570px;*/
    display: flex;
    align-items: center;
    margin: 0px;
}

.big-block .content {
    width: 100%;
    margin: auto;
    padding: 50px;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
}

.big-block .content .title {
    font-size: 54px;
    font-weight: 300;
    margin-bottom: 40px;
}

.big-block .btns-wrap {
    margin-bottom: 50px;
}

#preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    position: fixed;
    overflow: visible;
    background: #ffffff url("../images/preloader.svg") no-repeat center center;
}

body {
    /*height: 100vh;*/
    margin: 0;
}

body {
    /*display: flex;*/
    /*flex-direction: column;*/
}

footer#alldemo {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 10px 20px;
    color: white;
    background: black;
}
