h3 {
    font-size: 1.4rem;
}
section {
    padding: 130px 0 90px;
}
.overflow-visible {
    overflow: visible !important;
}

.padding-eleven-lr {
    padding-left: 11%;
    padding-right: 11%;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.pb-0, .py-0 {
    padding-bottom: 0 !important;
}

.position-relative {
    position: relative !important;
}

.padding-10-rem-left {
    padding-left: 10rem;
}

.padding-60px-bottom {
    padding-bottom: 60px;
}

.z-index-1 {
    z-index: 1;
}

.margin-30px-bottom {
    margin-bottom: 30px;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.text-fast-blue, .btn-link.text-fast-blue, a.text-fast-blue-hover:hover {
    color: #0038e3;
}

.alt-font {
    font-family: 'Poppins', sans-serif;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.margin-10px-lr {
    margin-left: 10px;
    margin-right: 10px;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.letter-spacing-minus-1px {
    letter-spacing: -1px;
}

.text-extra-dark-gray, .btn-link.text-extra-dark-gray, a.text-extra-dark-gray-hover:hover {
    color: #232323;
}

.margin-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}

.pr-0, .px-0 {
    padding-right: 0 !important;
}

.border-radius-8px {
    border-radius: 8px;
}

.overlap-image {
    margin-bottom: -215px;
    z-index: 1;
}
.single img {
    max-width: 100%;
    height: auto;
}

.single img {
    vertical-align: middle;
    border-style: none;
}

.overflow-hidden {
    overflow: hidden !important;
}

.padding-9-rem-left {
    padding-left: 9rem;
}

.text-overlap-style-01 {
    position: absolute;
    right: 0;
    bottom: -110px;
    font-size: 300px;
    line-height: 300px;
    letter-spacing: -10px;
    white-space: nowrap;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.padding-70px-top {
    padding-top: 70px;
}

.padding-3-half-rem-left {
    padding-left: 3.5rem;
}

.last-paragraph-no-margin p:last-of-type {
    margin-bottom: 0;
}

.margin-75px-top {
    margin-top: 75px;
}

.padding-90px-lr {
    padding-left: 90px;
    padding-right: 90px;
}

.padding-8-rem-tb {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.background-no-repeat {
    background-repeat: no-repeat;
}

.background-position-right-bottom {
    background-position: right bottom;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.cover-background {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
    position: relative;
    background-position: center center !important;
}

.margin-9-rem-top {
    margin-top: 9rem;
}

.margin-20px-bottom {
    margin-bottom: 20px;
}

.font-weight-500 {
    font-weight: 500 !important;
}

h6 {
    font-size: 1.80rem;
    line-height: 2.5rem;
}