#timeline * {
    margin: 0;
    padding: 0;
}

#timeline a {
    color: #000000;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

#timeline a:hover,
#timeline a.selected {
    color: #000000;
}

#timeline h1, #timeline h2, #timeline h4, #timeline h5, #timeline h6 {
    text-align: center;
    color: #000000;
    /*text-shadow: #000 1px 1px 2px;*/
    margin-bottom: 5px;
}

#timeline h1 {
    font-size: 18px;
}

#timeline h2 {
    font-size: 16px;
}

.sociales {
    text-align: center;
    margin-bottom: 20px;
}

#timeline {
    width: 500px;
    height: 600px;
    overflow: hidden;
    margin: 40px auto;
    position: relative;

}

#dates {
    width: 100px;
    height: 600px;
    overflow: hidden;
    float: left;
}

#dates li {
    list-style: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    padding-left: 10px;

}

#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}

#dates .selected {
    font-size: 38px;
}

#issues {
    width: 400px;
    height: 600px;
    overflow: hidden;
    float: left;
}

#issues li {
    width: 400px;
    height: 600px;
    list-style: none;

}

#issues li.selected img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#issues li img {
    float: left;
    margin: 50px 30px 10px 145px;
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
}

#issues li h1 {
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    text-shadow: #000 1px 1px 2px;
}

#issues li p {
    font-size: 14px;
    margin: 10px 20px;
    font-weight: normal;
    line-height: 22px;
    text-shadow: #000 1px 1px 2px;
}

#grad_top,
#grad_bottom {
    width: 500px;
    height: 80px;
    position: absolute;
}

#grad_top {
    top: 0;

}

#grad_bottom {
    bottom: 0;

}

#next,
#prev {
    position: absolute;
    left: 55%;
    font-size: 70px;
    width: 38px;
    height: 22px;
    background-position: 0 -44px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#next:hover,
#prev:hover {
    background-position: 0 0;
}





#next.disabled,
#prev.disabled {
    opacity: 0.2;
}
