/* Thumb Info */
.thumb-info {
    display: block;
    position: relative;
    text-decoration: none;
    max-width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}

.thumb-info .thumb-info-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
    display: block;
    position: relative;
}

.thumb-info .thumb-info-wrapper.thumb-info-wrapper-demos {
    max-height: 330px;
}

.thumb-info .thumb-info-wrapper:after {
    content: "";
    background: rgba(33, 37, 41, 0.8);
    transition: all 0.3s;
    border-radius: 4px;
    bottom: -4px;
    color: #FFF;
    left: -4px;
    position: absolute;
    right: -4px;
    top: -4px;
    display: block;
    opacity: 0;
    z-index: 1;
}

.thumb-info .thumb-info-wrapper-opacity-0:after {
    opacity: 0.0;
}

.thumb-info .thumb-info-wrapper-opacity-1:after {
    opacity: 0.1;
}

.thumb-info .thumb-info-wrapper-opacity-2:after {
    opacity: 0.2;
}

.thumb-info .thumb-info-wrapper-opacity-3:after {
    opacity: 0.3;
}

.thumb-info .thumb-info-wrapper-opacity-4:after {
    opacity: 0.4;
}

.thumb-info .thumb-info-wrapper-opacity-5:after {
    opacity: 0.5;
}

.thumb-info .thumb-info-wrapper-opacity-6:after {
    opacity: 0.6;
}

.thumb-info .thumb-info-wrapper-opacity-7:after {
    opacity: 0.7;
}

.thumb-info .thumb-info-wrapper-opacity-8:after {
    opacity: 0.8;
}

.thumb-info .thumb-info-wrapper-opacity-9:after {
    opacity: 0.9;
}

.thumb-info .thumb-info-action-icon {
    transition: all 0.3s;
    background: #CCC;
    border-radius: 0 0 0 4px;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: -100px;
    text-align: center;
    top: -100px;
    width: 50px;
    z-index: 2;
}

.thumb-info .thumb-info-action-icon i {
    font-size: 14px;
    right: 50%;
    position: absolute;
    top: 50%;
    color: #FFF;
    transform: translate(50%, -50%);
    margin: -2px -1px 0 0px;
}

.thumb-info .thumb-info-inner {
    transition: all 0.3s;
    display: block;
}

.thumb-info .thumb-info-inner em {
    display: block;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
}

.thumb-info .thumb-info-title {
    transition: all 0.3s;
    background: rgba(33, 37, 41, 0.8);
    color: #FFF;
    font-weight: 600;
    left: 0;
    letter-spacing: -.05em;
    position: absolute;
    z-index: 2;
    max-width: 90%;
    font-size: 17px;
    padding: 13px 21px 2px;
    bottom: 13%;
}

.thumb-info .thumb-info-type {
    background-color: #CCC;
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0;
    margin: 8px -2px -15px 0px;
    padding: 2px 12px;
    text-transform: uppercase;
    z-index: 2;
    line-height: 2.3;
}

.thumb-info .owl-carousel {
    z-index: auto;
}

.thumb-info .owl-carousel .owl-dots {
    z-index: 2;
}

.thumb-info img {
    transition: all 0.3s ease;
    border-radius: 3px;
    position: relative;
    width: 100%;
}

.thumb-info:hover .thumb-info-wrapper:after {
    opacity: 1;
}

.thumb-info:hover .thumb-info-action-icon {
    right: 0;
    top: 0;
}

.thumb-info:hover .thumb-info-title {
    background: rgba(33, 37, 41, 0.9);
}

.thumb-info:hover img {
    transform: scale(1.1, 1.1);
}

.thumb-info.thumb-info-no-zoom img {
    transition: none;
}

.thumb-info.thumb-info-no-zoom:hover img {
    transform: scale(1, 1);
}

.thumb-info.thumb-info-lighten .thumb-info-wrapper:after {
    background: rgba(23, 23, 23, 0.25);
}

.thumb-info.thumb-info-hide-wrapper-bg .thumb-info-wrapper:after {
    display: none;
}

.thumb-info.thumb-info-centered-icons .thumb-info-action {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 45px;
    text-align: center;
    opacity: 0;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transform: translate3d(0, -70%, 0);
    z-index: 2;
}

.thumb-info.thumb-info-centered-icons .thumb-info-action a {
    text-decoration: none;
}

.thumb-info.thumb-info-centered-icons .thumb-info-action-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    width: 35px;
    height: 35px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.1s ease;
    z-index: 2;
}

.thumb-info.thumb-info-centered-icons .thumb-info-action-icon i {
    margin: 0;
}

.thumb-info.thumb-info-centered-icons .thumb-info-action-icon:hover {
    transform: scale(1.15, 1.15);
}

.thumb-info:hover.thumb-info-centered-icons .thumb-info-action {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
}

.thumb-info:hover.thumb-info-centered-icons .thumb-info-action-icon {
    position: relative;
}

.thumb-info.thumb-info-centered-info .thumb-info-title {
    background: transparent;
    left: 5%;
    width: 90%;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transform: translate(0%, -50%);
    top: 50%;
    bottom: auto;
    opacity: 0;
    text-align: center;
    padding: 0;
    position: absolute;
}

.thumb-info.thumb-info-centered-info .thumb-info-type {
    float: none;
}

.thumb-info.thumb-info-centered-info:hover .thumb-info-title {
    opacity: 1;
    transform: translate(0%, -50%);
}

.thumb-info.thumb-info-bottom-info .thumb-info-title {
    background: #FFF;
    left: 0;
    width: 100%;
    max-width: 100%;
    transition: transform .2s ease-out, opacity .2s ease-out;
    transform: translate3d(0, 100%, 0);
    top: auto;
    bottom: 0;
    opacity: 0;
    padding: 15px;
    text-shadow: none;
    color: #777;
}

.thumb-info.thumb-info-bottom-info .thumb-info-type {
    float: none;
    background: none;
    padding: 0;
    margin: 0;
}

.thumb-info.thumb-info-bottom-info:hover .thumb-info-title {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.thumb-info.thumb-info-bottom-info:hover img {
    transform: scale(1.1);
}

.thumb-info.thumb-info-bottom-info-linear .thumb-info-title {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0, transparent 100%) repeat scroll 0 0 rgba(255, 255, 255, 0);
}

.thumb-info.thumb-info-bottom-info-dark .thumb-info-title {
    background: #212529;
    color: #FFF;
}

.thumb-info.thumb-info-bottom-info-dark-linear .thumb-info-title {
    background: linear-gradient(to top, rgba(33, 37, 41, 0.8) 0, transparent 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.thumb-info.thumb-info-bottom-info-show-more img {
    transform: none !important;
}

.thumb-info.thumb-info-bottom-info-show-more .thumb-info-title {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.thumb-info.thumb-info-bottom-info-show-more .thumb-info-show-more-content {
    transition: ease max-height 800ms;
    overflow: hidden;
    max-height: 0;
    display: block;
}

.thumb-info.thumb-info-bottom-info-show-more:hover .thumb-info-show-more-content {
    max-height: 300px;
}

.thumb-info.thumb-info-push-hor img {
    transform: translatex(-18px);
    width: calc(100% + 19px);
    max-width: none;
}

.thumb-info.thumb-info-push-hor:hover img {
    transform: translatex(0);
}

.thumb-info.thumb-info-block .thumb-info-action-icon {
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.thumb-info.thumb-info-block .thumb-info-wrapper:before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
    border-radius: 0;
    bottom: 16px;
    bottom: 1rem;
    color: #FFF;
    left: 16px;
    left: 1rem;
    position: absolute;
    right: 16px;
    right: 1rem;
    top: 16px;
    top: 1rem;
    display: block;
    opacity: 0;
    z-index: 2;
}

.thumb-info.thumb-info-block:hover .thumb-info-wrapper:before {
    opacity: 1;
}

.thumb-info.thumb-info-block:hover .thumb-info-action-icon {
    opacity: 1;
}

.thumb-info.thumb-info-block.thumb-info-block-dark .thumb-info-wrapper:before {
    background: rgba(33, 37, 41, 0.9);
}

.thumb-info.thumb-info-hide-info-hover .thumb-info-wrapper:after {
    opacity: 0.65;
}

.thumb-info.thumb-info-hide-info-hover .thumb-info-title {
    opacity: 1;
    top: 50%;
}

.thumb-info.thumb-info-hide-info-hover .thumb-info-type {
    float: none;
}

.thumb-info.thumb-info-hide-info-hover:hover .thumb-info-wrapper:after {
    opacity: 0.1;
}

.thumb-info.thumb-info-hide-info-hover:hover .thumb-info-title {
    opacity: 0;
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-wrapper:after {
    opacity: 0.65;
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-wrapper-no-opacity:after {
    opacity: 1;
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-title {
    opacity: 1;
    top: 0;
    height: 100%;
    top: 0;
    transform: none !important;
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-type {
    float: none;
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-slide-info-hover-1,
.thumb-info.thumb-info-slide-info-hover .thumb-info-slide-info-hover-2 {
    transition: cubic-bezier(0.55, 0, 0.1, 1) top 500ms;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0%, -50%);
}

.thumb-info.thumb-info-slide-info-hover .thumb-info-slide-info-hover-2 {
    top: 150%;
}

.thumb-info.thumb-info-slide-info-hover:hover .thumb-info-slide-info-hover-1 {
    top: -50%;
}

.thumb-info.thumb-info-slide-info-hover:hover .thumb-info-slide-info-hover-2 {
    top: 50%;
}

.thumb-info.thumb-info-no-borders, .thumb-info.thumb-info-no-borders img {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.thumb-info.thumb-info-no-borders .thumb-info-wrapper {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.thumb-info.thumb-info-no-borders .thumb-info-wrapper:after {
    border-radius: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded img,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded .thumb-info-wrapper,
.thumb-info.thumb-info-no-borders.thumb-info-no-borders-rounded .thumb-info-wrapper:after {
    border-radius: 4px;
}

.thumb-info.thumb-info-preview .thumb-info-wrapper:after {
    display: none;
}

.thumb-info.thumb-info-preview .thumb-info-image {
    min-height: 232px;
    display: block;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    transition: background-position 0.8s linear 0s;
}

.thumb-info.thumb-info-preview:hover .thumb-info-image {
    transition: background-position 2.5s linear 0s;
    background-position: center bottom;
}

.thumb-info.thumb-info-preview.thumb-info-preview-short:hover .thumb-info-image {
    transition: background-position 1s linear 0s;
}

.thumb-info.thumb-info-preview.thumb-info-preview-long:hover .thumb-info-image {
    transition: background-position 5s linear 0s;
}

.thumb-info.thumb-info-no-overlay .thumb-info-wrapper:after {
    content: none;
}

.thumb-info.thumb-info-no-bg {
    background: transparent;
}

/* Thumb Info Ribbon */
.thumb-info-ribbon {
    background: #999;
    position: absolute;
    margin: -16px 0 0 0;
    padding: 5px 13px 6px;
    right: 15px;
    z-index: 1;
}

.thumb-info-ribbon:before {
    border-right: 10px solid #646464;
    border-top: 16px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}

.thumb-info-ribbon span {
    color: #FFF;
    font-size: 1.1em;
    font-family: RobotoRegular, cursive;
}

/* Thumb Info - Full Width */
.full-width .thumb-info img {
    border-radius: 0 !important;
}

/* Thumb Info Caption	*/
.thumb-info-caption {
    padding: 10px 0;
}

.thumb-info-caption .thumb-info-caption-text, .thumb-info-caption p {
    font-size: 0.9em;
    margin: 0;
    padding: 15px 0;
    display: block;
}

/* Thumb Info Side Image	*/
.thumb-info-side-image .thumb-info-side-image-wrapper {
    padding: 0;
    float: left;
    margin-right: 20px;
}

.thumb-info-side-image-right .thumb-info-side-image-wrapper {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Thumb Info Social Icons */
.thumb-info-social-icons {
    margin: 0;
    padding: 0;
    display: block;
}

.thumb-info-social-icons a {
    background: #CCC;
    border-radius: 25px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

.thumb-info-social-icons a:hover {
    text-decoration: none;
}

.thumb-info-social-icons a span {
    display: none;
}

.thumb-info-social-icons a i {
    color: #FFF;
    font-size: 0.9em;
    font-weight: normal;
}

/* Thumb Info Floating Caption */
.thumb-info-floating-caption-title {
    background: rgba(33, 37, 41, 0.8);
    color: #FFF;
    font-weight: 600;
    letter-spacing: -.05em;
    font-size: 17px;
    padding: 13px 21px;
}

.thumb-info-floating-caption-title .thumb-info-floating-caption-type {
    position: absolute;
    background-color: #CCC;
    border-radius: 2px;
    display: block;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0;
    margin: 8px -2px -15px 0px;
    padding: 2px 12px;
    text-transform: uppercase;
    line-height: 2.3;
}

/* Responsive */
@media (max-width: 991px) {
    .thumb-info .thumb-info-title {
        font-size: 14px;
    }

    .thumb-info .thumb-info-more {
        font-size: 11px;
    }
}


/* Timeline */
section.timeline {
    width: 100%;
    margin: 50px 0 0;
    position: relative;
    float: left;
    padding-bottom: 120px;
}

section.timeline .text-primary {
    color: black !important;
}

section.timeline:before {
    background: black;
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, black, black, rgba(80, 80, 80, 0) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: -60px;
    width: 3px;
    z-index: 0;
    filter: alpha(opacity=35);
    opacity: 0.35;
}

section.timeline .timeline-body {
    position: relative;
    z-index: 1 !important;
}

section.timeline .timeline-date {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    position: relative;
    display: block;
    clear: both;
    width: 200px;
    height: 45px;
    padding: 5px;
    border: 1px solid #7B868C;
    margin: 0 auto 10px;
    text-shadow: 0 1px 1px #fff;
    border-radius: 4px;
    background: #FFF;
    z-index: 1;
}

section.timeline .timeline-date h3 {
    display: block;
    text-align: center;
    color: #757575;
    font-size: 0.9em;
    line-height: 32px;
}

section.timeline .timeline-title {
    background: #f7f7f7;
    padding: 12px;
}

section.timeline .timeline-title h4 {
    padding: 0;
    margin: 0;
    color: #151719;
    font-size: 1.4em;
}

section.timeline .timeline-title a {
    color: #151719;
}

section.timeline .timeline-title .timeline-title-tags {
    color: #B1B1B1;
    font-size: 0.9em;
}

section.timeline .timeline-title .timeline-title-tags a {
    color: #B1B1B1;
    font-size: 0.9em;
}

section.timeline .timeline-box {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #7B868C;
    border-radius: 4px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    width: 45.7%;
    float: left;
    z-index: 1;
    margin-bottom: 30px;
    background: #FFF;
}

section.timeline .timeline-box.left {
    clear: both;
}

section.timeline .timeline-box.left:before {
    background: none repeat scroll 0 0 #7B868C;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #7B868C;
    content: "";
    display: block;
    height: 7px;
    margin-right: -5px;
    position: absolute;
    left: 50%;
    margin-top: 22px;
    width: 8px;
    transform: translate3d(-50%, 0, 0);
    z-index: 1;
}

section.timeline .timeline-box.left .timeline-box-arrow {
    transform: rotate(45deg);
    content: '';
    display: block;
    background: #FFF;
    border-right: 1px solid #7B868C;
    border-top: 1px solid #7B868C;
    float: right;
    height: 14px;
    margin-top: 17px;
    margin-right: -18px;
    width: 14px;
    z-index: 0;
}

section.timeline .timeline-box.right {
    clear: right;
    float: right;
    right: -1px;
    margin-top: 40px;
}

section.timeline .timeline-box.right:before {
    background: none repeat scroll 0 0 #7B868C;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #7B868C;
    content: "";
    display: block;
    height: 7px;
    position: absolute;
    left: 50%;
    margin-top: 32px;
    width: 8px;
    transform: translate3d(-50%, 0, 0);
    z-index: 1;
}

section.timeline .timeline-box.right .timeline-box-arrow {
    transform: rotate(45deg);
    content: '';
    display: block;
    background: #FFF;
    border-left: 1px solid #7B868C;
    border-bottom: 1px solid #7B868C;
    float: left;
    height: 14px;
    margin-top: 28px;
    margin-left: -18px;
    width: 14px;
    z-index: 0;
}

section.timeline .timeline-box .owl-carousel {
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

@media (max-width: 991px) {
    section.timeline .timeline-box {
        float: none;
        clear: both;
        right: auto;
        left: auto;
        margin: 25px auto;
        max-width: 70%;
        width: auto;
    }

    section.timeline .timeline-box.right {
        float: none;
        clear: both;
        right: auto;
        left: auto;
        margin: 25px auto;
        max-width: 70%;
        width: auto;
    }

    section.timeline .timeline-box.left:after, section.timeline .timeline-box.right:after, section.timeline .timeline-box.left:before, section.timeline .timeline-box.right:before {
        display: none;
    }
}

@media (max-width: 767px) {
    section.timeline {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 575px) {
    section.timeline {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    section.timeline .timeline-box {
        margin: 15px auto;
        max-width: 90%;
    }

    section.timeline .timeline-box.right {
        margin: 15px auto;
        max-width: 90%;
    }

    article.post-large {
        margin-left: 0;
    }

    article.post-large .post-image, article.post-large .post-date {
        margin-left: 0;
    }
}
