{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <section class="s-block">
        <div class="container-fluid container-relative">
            <div class="row m-0">
                <div class="col-md-12">
                    <h4>Administración del capital</h4>
                    <p>Fibra MTY administra su capital para asegurar la sostenibilidad del negocio, a la par de
                        maximizar los rendimientos a sus inversionistas a través de la optimización de la mezcla de
                        deuda y capital. </p>

                    <p>Los objetivos de la administración de capital son mantener los fondos de operación y
                        adecuadas fuentes de financiamiento, que sean suficientes y disponibles para alcanzar los
                        siguientes fines:</p>
                    <ul class="ls-disc">

                        <li><p>Un nivel óptimo de distribuciones a los inversionistas de Fibra MTY ajustado al
                            riesgo</p></li>
                        <li><p>La realización de Capex que permita mantener la calidad de los inmuebles en
                            operación</p></li>
                        <li><p>Proveer los recursos necesarios para la adquisición de nuevos inmuebles y cubrir los
                            costos
                            del servicio de deuda</p></li>
                    </ul>

                    <p>La administración evalúa constantemente sus necesidades de apalancamiento y/o emisión de
                        CBFIs a través de proyecciones financieras, las cuales incluyen portafolios en operación y
                        por adquirirse, que son sometidas a aprobación del Comité Técnico, previa autorización del
                        Comité de Endeudamiento.</p>

                    <h4>Administración del riesgo financiero </h4>
                    <p>Los objetivos de la administración de riesgo financiero son:</p>

                    <ul class="ls-disc">
                        <li><p>Cumplir con las expectativas financieras, resultados de operaciones y flujos de
                            efectivo que mejoren el precio de cotización de los CBFIs</p></li>

                        <li><p>Asegurar la capacidad de efectuar distribuciones a los tenedores de CBFIs</p></li>
                        <li><p>Satisfacer cualquier obligación de deuda, presente o futura</p></li>
                    </ul>

                    <p>El Administrador coordina el acceso a los mercados financieros, monitorea y gestiona los
                        riesgos relacionados con las operaciones de Fibra MTY a través de informes internos de
                        riesgo que analizan las exposiciones por grado y magnitud de los mismos y son sometidos a
                        aprobación del Comité Técnico, previa autorización del Comité de Endeudamiento. Estos
                        riesgos incluyen:</p>

                    <ol class="ls-decimal">
                        <li><p><strong>Riesgo de crédito.</strong> La máxima exposición al riesgo crediticio de
                            Fibra MTY está determinada por los equivalentes de efectivo y las cuentas por cobrar,
                            además de los instrumentos financieros, como se muestran en el estado consolidado de
                            posición financiera más reciente. En cumplimiento con las disposiciones de Ley del
                            Impuesto Sobre la Renta, Fibra MTY limita su exposición al riesgo de crédito invirtiendo
                            solamente en instrumentos líquidos del Gobierno Federal inscritos en el Registro
                            Nacional de Valores. Además, la naturaleza del negocio permite a Fibra MTY mantener sus
                            cuentas por cobrar mayormente con antigüedad de cobro menor a 30 días, por lo cual la
                            probabilidad de que se presente deterioro alguno relacionado con las mismas es
                            prácticamente nula.</p></li>
                        <li><p><strong>Riesgo de liquidez. </strong> Fibra MTY administra el riesgo de liquidez
                            manteniendo reservas adecuadas, vigilando los flujos de efectivo proyectados y reales de
                            los ingresos, así como conciliando los perfiles de vencimiento de los activos y pasivos
                            financieros.</p></li>
                        <li><p><strong>Riesgo cambiario.</strong> Fibra MTY está expuesta a fluctuaciones cambiarias
                            entre el tipo de cambio del dólar estadounidense y el peso mexicano, que son manejadas
                            dentro de los parámetros de las políticas aprobadas por la administración y el Comité
                            Técnico. Cabe mencionar que la mayoría de los contratos de arrendamiento de Fibra MTY
                            están pactados en dólares estadounidenses. </p></li>
                        <li><p><strong>Riesgo de tasas de interés. </strong> Para cubrir el riesgo de la
                            variabilidad de tasas, que en su caso aplique, la administración constantemente evalúa
                            diversos instrumentos de cobertura y estrategias de inversión con la finalidad de
                            minimizar la exposición al riesgo de tasa de interés de Fibra MTY. </p></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}