{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <section class="s-block">
        <div class="container-fluid container-relative">
            <div class="row">
                <div class="col-md-12 text-justify">
                    <h3 class="mb-4">Renta variable</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered bc-black">
                            <thead>
                            <tr>
                                <th>Institución</th>
                                <th>Analista</th>
                                <th>Correo electrónico</th>
                                <!--<th>Tel.</th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Actinver</td>
                                <td>Pablo Duarte</td>
                                <td>pduarte@actinver.com.mx</td>
                                <!--  <td>+52 (55) 1103 6600</td>-->
                            </tr>
                            <tr>
                                <td>BBVA</td>
                                <td>Francisco Chavez</td>
                                <td>f.chavez@bbva.com</td>
                                <!--  <td>+52 (55) 5621 9703</td>-->
                            </tr>
                            <tr>
                                <td>Apalache</td>
                                <td>Carlos Alcaraz</td>
                                <td>carlos.alcaraz@apalache.mx</td>
                                <!--  <td>+1 (11) 4009 5710</td>-->
                            </tr>
                            <tr>
                                <td>Signum Research</td>
                                <td>Armando Rodriguez</td>
                                <td>armando.rodriguez@signumresearch.com</td>
                                <!--  <td>+52 (55) 6237 0861</td>-->
                            </tr>
                            <tr>
                                <td>BTG Pactual</td>
                                <td>Gordon Lee</td>
                                <td>gordon.lee@btgpactual.com</td>
                                <!--  <td>+52 (55) 5262 3600</td>-->
                            </tr>
                            <tr>
                                <td>Intercam</td>
                                <td>Alejandro González</td>
                                <td>algonzalezd@intercam.com.mx</td>
                                <!--<td>+52 (55) 5262 3600</td>-->
                            </tr>
                            <tr>
                                <td>Monex</td>
                                <td>Roberto Solano</td>
                                <td>jrsolano@monex.com.mx</td>
                                <!--  <td>+52 (55) 5262 3600</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
