<section class="d-none diretivo-perfil comite 1">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Federico Garza Santos</h3>

                <p>Designado como miembro del Comité Técnico en enero de 2015, es Presidente del Comité Técnico
                    y adicionalmente forma parte del Comité de Inversiones y del Comité de Nominaciones.</p>
                <p> El Sr.
                    Garza Santos es empresario y actualmente presidente del consejo de administración de Grupo Delta,
                    una empresa líder en desarrollo, inversión y gestión de proyectos inmobiliarios que ha desarrollado
                    más de un millón de metros cuadrados, empresa de la cual fue director general, en donde desarrolló
                    una amplia experiencia en el desarrollo y operación de bienes inmuebles. Por otro lado, participa
                    activamente en organizaciones que promueven el desarrollo social y la participación ciudadana en las
                    comunidades. Asimismo, es presidente del consejo de administración de Numa Inmuebles, una empresa
                    dedicada a brindar asesoría inmobiliaria, además del desarrollo y comercialización de inmuebles
                    residenciales y comerciales. Adicionalmente, el Sr. Garza Santos es presidente del comité técnico
                    de Deltack, administradores de capital para el desarrollo de proyectos inmobiliarios en México, y
                    del consejo de administración de Desarrollos Delta USA, Tres Vidas Acapulco, Arinmsur, Citadela
                    Mérida y miembro del consejo de administración de Promotora Ambiental e Inmobiliaria Macroplaza. El
                    Sr. Garza Santos cuenta con una carrera en ingeniería industrial y
                    de sistemas por el Instituto Tecnológico y de Estudios Superiores de Monterrey (ITESM).</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 2">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>David Francisco Garza Santos</h3>
                <p>Es Licenciado en
                    Administración de Empresas del Instituto Tecnológico y de
                    Estudios Superiores de Monterrey. Actualmente es miembro del Consejo de las siguientes
                    empresas: Buró Inmobiliario Avanti,
                    Delta Inmobiliaria y Valores, Emprendedores Inmobiliarios Delta, LFMG Corporativo,
                    Promotora Ambiental, DCH Administración,
                    Grupo Maquinas Diesel, Kansas City Southern, Grupo Financiero Banorte, Citadela Mérida,
                    El Rincón USA, Onix Mantenimientos.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 3">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Guillermo Enrique Babatz Torres</h3>

                <p>Designado como miembro del Comité Técnico en enero de 2015 y adicionalmente forma parte del Comité
                    de Inversiones y del Comité de Prácticas Corporativas.</p>
                <p> El Sr. Babatz ha sido director de Coordinación
                    y Capacitación de Crédito Interno y director general de Seguros y Valores de la Secretaría de
                    Hacienda,
                    director general de la Sociedad Hipotecaria Federal, presidente de la Comisión Nacional Bancaria y
                    de
                    Valores (CNBV). En la CNBV fue responsable de las operaciones diarias y actuó como representante de
                    México en el Comité de Supervisión Bancaria de Basilea (BCBS), la Organización Internacional de
                    Comisiones de Valores (IOSCO) y el Consejo de Estabilidad Financiera (FSB). El Sr. Babatz
                    actualmente
                    es socio director de Atik Capital, consultora especializada en estructuración financiera, asesoría
                    regulatoria de entidades financieras, transformación digital de los negocios y gestión de riesgos.
                    Cuenta con amplia experiencia en el sector financiero, bursátil, regulatorio, gestión de riesgos y
                    en
                    la transformación digital de los negocios. Adicionalmente es consejero de Bank of Nova Scotia
                    (Scotiabank)
                    en Canadá donde preside el Comité de Riesgos, también es presidente del consejo de administración de
                    Grupo
                    Financiero Scotiabank Inverlat y sus subsidiarias en México, además de Trustee del IFRS Foundation.
                    El Sr. Babatz es licenciado en economía por el ITAM y doctor en economía por la
                    Universidad
                    de Harvard.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 4">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Alberto Eugenio Garza Santos</h3>
                <p>Inició la licenciatura en
                    Administración de Empresas en el ITESM, para
                    posteriormente graduarse de Ciencias Políticas en Southern Methodist University. Es
                    socio fundador y Presidente del Consejo de Promotora
                    Ambiental S.A.B de C.V. (PASA), Thermion Energy, S.A. de C.V. y Sirius Energy, S.A. de
                    C.V. Fundó y es propietario de la reserva ecológica
                    conocida como Museo Maderas del Carmen, A.C., ubicada en Coahuila. Fungió como
                    Presidente del Consejo del Parque Ecológico Chipinque, y fue
                    Presidente de la Comisión de Medio Ambiente de la CANACINTRA. Adicionalmente es miembro
                    del Consejo de Administración de Desarrollos Delta,
                    Promotora del Viento, Thermion Renewable Ventures, Administradora Thermion y Compañía
                    Petrolera Perseus. Presidente y fundador del Observatorio
                    Ciudadano de la Calidad del Aire del Área Metropolitana de Monterrey (OCCAMM).</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 5">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Alberto Federico Terrazas Seyffert</h3>
                <p>Designado como miembro del Comité Técnico en enero de 2015 y adicionalmente forma parte del Comité de
                    Endeudamiento y del Comité de Inversiones, del cual es Presidente.</p>
                <p> El Sr. Terrazas es Ingeniero Industrial
                    y de Sistemas por el Instituto Tecnológico y de Estudios Superiores de Monterrey (ITESM) cuenta con
                    un
                    Diplomado OPM en Harvard Business School, es Presidente Ejecutivo de una de
                    las
                    empresas chihuahuenses más importantes de la región, Grupo Punto Alto, una empresa enfocada a los
                    sectores
                    de la construcción, inmobiliario, metalmecánica, aeronáutica y de servicios. Fue presidente de la
                    Cámara
                    Nacional de la Industria de Transformación (CANACINTRA) en Chihuahua en el periodo 2009-2012,
                    Presidente de
                    desarrollo Económico AC 2013-2016 y consejero de BBVA Bancomer y Banorte. Cuenta con amplia
                    experiencia en el
                    sector inmobiliario y de la construcción.</p>
                <p> Adicionalmente el Sr. Terrazas Seyffert es miembro del consejo de
                    administración de Copachisa, una empresa de diseño y construcción industrial con más de 9,000,000
                    m<sup>2</sup> construidos,
                    y ha sido miembro del consejo de administración de Demek, una empresa que ha construido más de 400
                    proyectos
                    industriales en 20 estados de la república mexicana, Emycsa, constructora en estructuras de acero
                    que ha
                    producido un total de 206 mil 300 toneladas de materiales, así como un total de 5 millones 670 mil m<sup>2</sup>
                    de
                    cubiertas de lámina, ESJ, una empresa líder en el diseño, fabricación y suministro de soluciones
                    estructurales
                    de acero que ha creado soluciones estructurales para más de 31 millones de metros cuadrados, GCC,
                    empresa líder
                    en la producción de cemento, concreto, agregados y soluciones innovadoras en la industria de la
                    construcción,
                    Grupo Ruba, una desarrolladora de vivienda con una trayectoria de más de 40 años y Grupo Cofiasa,
                    empresa
                    comercializadora de productos de fierro y acero del norte de México.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 6">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Enrique Guillermo de Jesús Terrazas Torres</h3>
                <p>Es Ingeniero
                    Civil egresado de Cornell University,
                    Nueva York, adicionalmente cursó el programa de Alta Dirección de Empresas AD-2 del
                    Instituto Panamericano de Alta Dirección de
                    Empresas (IPADE). El Ingeniero Terrazas es miembro del Consejo de Administración de
                    Grupo Cementos de Chihuahua, así como de
                    algunas de sus subsidiarias, desde 1991. Asimismo, es consejero de Grupo Punto Alto y
                    Presidente Honorario de Grupo Ruba.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 7">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Eugenio Santiago Clariond Reyes</h3>
                <p>Designado como miembro del Comité Técnico en enero de 2015 y adicionalmente forma parte del Comité de
                    Prácticas
                    Corporativas, del Comité de Inversiones, del Comité de Nominaciones y del Comité de Endeudamiento,
                    del cual es
                    Presidente. </p>
                <p>El Sr. Clariond es presidente Honorario del consejo de administración de Grupo Cuprum, el principal
                    extrusor de aluminio de Latinoamérica, Grupo Cleber, un grupo multimarca líder en la industria de
                    distribución
                    automotriz en el Norte y Noreste del país, y Fultra, grupo empresarial enfocado al sector del
                    transporte. Entre
                    otros cargos, ha sido presidente y CEO de Grupo IMSA, una empresa industrial líder en el segmento de
                    negocio de
                    productos procesados de acero, donde participó por más de 55 años desde puestos gerenciales hasta
                    ocupar la
                    dirección general, desarrollando amplia experiencia en la dirección de empresas líderes en su
                    industria.
                    Asimismo, ha sido vicepresidente del Consejo Mundial Empresarial para el Desarrollo Sostenible
                    (WBCSD),
                    presidente del Capítulo Mexicano del Comité para América del Norte (NAC), presidente de la Cámara de
                    Comercio
                    México-Estados Unidos y presidente del Consejo Nacional de Comercio Exterior (CONACEX); presidente
                    del Consejo
                    Mexicano de Hombres de Negocios. El Sr. Clariond es licenciado y maestro en
                    Administración
                    de Empresas por el Instituto Tecnológico y de Estudios Superiores de Monterrey (ITESM).
                    Adicionalmente, el Sr. Clariond Reyes es miembro del consejo de administración de las siguientes
                    empresas: Grupo Industrial Saltillo, Orbia, Grupo Financiero Ve por Más y Grupo Galería; asimismo
                    miembro del Comité Técnico de Fibra Mty, Grupo Energex y Exel del Norte; y anteriormente director único de Buró Inmobiliario Elite.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 8">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Eugenio Clariond Rangel</h3>
                <p>Es Ingeniero Químico y de
                    Sistemas por el TEC de Monterrey; Master en
                    Administración de Negocios por la Universidad de Texas en Austin y graduado del Programa
                    Internacional de Administración del IPADE.
                    Se ha desempeñado en diversos cargos en empresas industriales, actualmente ocupa la
                    Presidencia y Dirección General de Grupo Cuprum.
                    Ha estado a cargo y ha participado como: consejero y miembro del Comité de Crédito del
                    Banco Ve por Más (BX+), miembro del Consejo de MEXICHEM,
                    S.A.B. de C.V, Presidente de la Cámara de la Industria de Transformación de Nuevo León
                    (CAINTRA), Vicepresidente de la Confederación de las
                    Cámaras Industriales (CONCAMIN), presidente del Instituto Mexicano del Aluminio A.C.
                    (IMEDAL), miembro del consejo de COPARMEX NL y
                    COMCE Noreste. Adicionalmente, el Sr. Clariond Rangel es miembro del Consejo de
                    Administración de las siguientes empresas: XIGNUX, ELEMENTIA y
                    PYOSA Industrias, miembro del Consejo de la UDEM Y Fundación UANL. Presidente del
                    Cluster de Vivienda de Nuevo León y Presidente del Consejo de
                    Flora y Fauna de Nuevo León.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 9">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Bernardo Luis Guerra Treviño</h3>
                <p>El Sr. Guerra es fundador
                    de MG Capital y ha sido su director de operaciones desde 1995.
                    Anteriormente, ha tenido varios puestos importantes en instituciones financieras en
                    Monterrey y la Ciudad de México. El Sr. Guerra Treviño
                    tiene un título de Ingeniería Industrial y de Sistemas del Instituto Tecnológico y de
                    Estudios Superiores de Monterrey (ITESM).</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 10">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Mauricio Morales Sada</h3>
                <p>Es Ingeniero Mecánico
                    Administrador por el Instituto Tecnológico y de Estudios
                    Superiores de Monterrey. Es socio fundador y Presidente del Consejo de MG Capital
                    (1995), empresa que se dedica a la asesoría en
                    inversiones bursátiles. Antes de MG Capital, desempeñó diversos puestos en instituciones
                    financieras mexicanas.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 11">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Juan Carlos Calderón Guzmán</h3>
                <p> Designado como miembro del Comité Técnico en enero de 2015 y adicionalmente forma parte del Comité
                    de
                    Inversiones, del Comité de Endeudamiento, del Comité de Auditoría y del Comité de Prácticas
                    Corporativas,
                    del cual es Presidente.</p>
                <p> El Sr. Calderón cuenta con una amplia trayectoria en áreas financieras y de riesgos
                    dentro de Invercap, Vector, Cemex, Merrill Lynch y Banamex. Es socio fundador de Talous Consulting
                    Services.
                    El Sr. Calderón licenciado en economía por el Instituto Tecnológico y de
                    Estudios
                    Superiores de Monterrey (ITESM), y cuenta con un MBA en el Massachusetts Institute of Technology
                    (MIT).</p>
                <p>Adicionalmente, el Sr. Calderón Guzmán es miembro del consejo de administración de Banregio, Grupo
                    Vigia,
                    Afore Invercap y Thelsa Mudanzas y socio director de Arvo Capital.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 12">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Emilio Jesús Marcos Charur</h3>
                <p>Es Ingeniero Industrial y de
                    Sistemas por el Tecnológico de Monterrey y
                    tiene una maestría en Administración de la Universidad de Illinois. Es Director
                    Ejecutivo de Administración y Finanzas en Arca
                    Continental, tercer embotellador de Coca Cola en el mundo. Adicionalmente, es miembro
                    del Consejo de Administración de Jugos del Valle
                    y Grupo Piasa (Productora Industrial Azucarera).</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 13">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Andrés Ochoa Bünsow</h3>
                <p>Designado como miembro del Comité Técnico en julio de 2017 y adicionalmente forma parte del Comité de
                    Inversiones, del Comité de Prácticas Corporativas y de los Comités de Auditoría y Nominaciones, de
                    los
                    cuales es Presidente. </p>
                <p>El Lic. Ochoa es abogado practicante, inversionista y miembro de Consejos de varias
                    empresas públicas y privadas. Fue socio de Baker McKenzie desde 1986 donde ejerció como abogado
                    transaccional
                    con amplia experiencia en los sectores de finanzas corporativas, M&A, inmobiliario e
                    infraestructura,
                    entre otros. Desempeñó a lo largo de su carrera diversas funciones directivas incluyendo el puesto
                    de
                    Presidente del Comité Global de Políticas de Baker McKenzie Internacional, Presidente del Comité
                    Global de
                    Finanzas, Presidente del Consejo Regional de Latinoamérica y Socio Director Nacional de las oficinas
                    de la
                    firma en México. Asimismo, fue miembro del Comité Global Ejecutivo de la firma, en el que desempeñó
                    sus
                    funciones bajo la dirección de Christine Lagarde, hasta recientemente la Directora Gerente del Fondo
                    Monetario
                    Internacional. Con más de 40 años de experiencia, el Lic. Ochoa Bünsow ha sido reconocido como uno
                    de los
                    abogados líderes en derecho corporativo y financiero, habiendo recibido múltiples reconocimientos,
                    tales como
                    su continua certificación por Chambers Latin America y Latin American Law Firm Leader of the Year
                    2013 por
                    la prestigiada revista inglesa Latin Lawyer. Participa activamente en asociaciones como el Consejo
                    Nuevo León
                    y la American Chamber of Commerce de México Capítulo Monterrey de la que fue Presidente y
                    actualmente preside
                    el Comité de Fomento Industrial y Desarrollo Económico (COFIDE). Es Presidente del Consejo Directivo
                    y
                    Presidente del Comité Ejecutivo de Invest Monterrey (DeMTY, A.C.), asociación público privada que
                    agrupa
                    a más de cien empresas privadas, organismos públicos, universidades y organizaciones empresariales
                    con el
                    objeto de promover la atracción de capital y desarrollo económico del Estado de Nuevo Léon. Tiene 66
                    años de
                    edad.</p>
                <p> El Lic. Ochoa obtuvo su título de Abogado de la Escuela Libre de Derecho de la Ciudad de México y su
                    Maestría en Derecho Corporativo Internacional (LL.M) en la Universidad de Columbia en la Ciudad de
                    Nueva
                    York. Aparte de ejercer en la República Mexicana, es miembro de la Barra de Abogados del Estado de
                    Nueva
                    York, a la que fue admitido por la Suprema Corte de dicho estado en 1986.</p>
                <p> Adicionalmente, el Sr. Ochoa
                    Bünsow es presidente del Consejo de Administración de Grupo Famsa y Cinquefoil
                    y miembro del consejo de las
                    siguientes
                    empresas: Farmacias Benavides, Güntner de México, Christus Muguerza, El Paso Industrial Supplies
                    México,
                    EPIS Logistics, Grupo Club PM Project Management, Branding Alliance Media, Grupo de Desarrollo y
                    Entretenimiento de Hermosillo, Promotora Inmobiliaria Villa XXI, Vivace, American Chamber of
                    Commerce
                    of Mexico y Consejo Nuevo León SEDET Comisión de Desarrollo Económico y DeMTY (Invest Monterrey)
                    . También funge como
                    Comisario de British American Tobacco México.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 14">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Carlos Francisco García Reyes</h3>
                <p>Es Ingeniero Industrial y
                    de Sistemas por el Instituto Tecnológico y de
                    Estudios Superiores de Monterrey y cuenta con Maestría en Administración por la misma
                    casa de estudios. Es socio fundador IAM
                    Consultores, socio fundador y consejero de Soiler Fondos Inmobiliarios, Erbe Fonds y
                    Digital Ocean y fue Director de Mercados de
                    Capitales en Vector Casa de Bolsa. Adicionalmente, el Sr. García Reyes es Administrador
                    único de IAM Inmuebles, Fluvisol, García Canales y
                    miembro del Consejo de Administración de Next Telekom, IAM Activos y Hotspot.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 15">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Luz Adriana Ramirez Chávez</h3>
                <p> Designada como miembro del Comité Técnico en octubre de 2019 y adicionalmente forma parte
                    del Comité de Inversiones y del Comité de Auditoría. </p>
                <p>La Sra. Ramírez Chávez es, actualmente,
                    la Directora General de Visa México, así como Vicepresidente en el comité del Consejo Ejecutivo de
                    Empresas Globales (CEEG) y Vicepresidente en el comité de la Asociación Mexicana de Mujeres
                    Ejecutivas
                    (AMME), participó en el curso de “Women on Boards” en Harvard Business School, así mismo en los
                    comités de la Mujer en la Alta Dirección en el IPADE y de Diversidad de American Chambers. Cuenta
                    con amplia experiencia financiera y en tecnologías de la información aplicadas a los negocios.
                    Cuenta
                    con una licenciatura en Ingeniería Química en la Universidad La Salle y un MBA en Administración de
                    Empresas y además realizó estudios de Finanzas y Evaluación de Proyectos de Inversión en la
                    Universidad
                    de Buenos Aires, Argentina.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 16">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Carmen Eugenia Garza T. Junco</h3>
                <p>Designada como miembro del Comité Técnico en abril de 2022.
                    Licenciada en Administración de Empresas por el Instituto Tecnológico y de Estudios Superiores de
                    Monterrey. En el 2005 asume la dirección de Fundación Frisa, fundación empresarial de FRISA
                    Industrias (líder mundial en la manufactura de anillos rolados y forja abierta), fundación dedicada
                    a impulsar proyectos que promuevan la movilidad social en Nuevo León. Es miembro del Consejo de
                    administración de Frisa Industrias, Universidad de Monterrey, Consejo Nuevo León para la Planeación
                    estratégica, FUNDMEX Fundación del Empresariado Mexicano, A.C. Cofundadora y Presidenta de la 1er
                    Fundación Comunitaria en NL, COMUNIDAR. En el 2015 asume la Presidencia del Consejo de Participación
                    Ciudadana de la Secretaría de Desarrollo Social del estado de NL.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 17">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Silvia Lucía Dávila Kreimerman</h3>
                <p>Designada como miembro del Comité Técnico en abril de 2021.</p>
                <p>La Sra. Dávila Kreimerman es,
                    actualmente, Presidente Regional Latinoamérica para Danone y Presidente Latinoamérica
                    para los negocios de EDP y Waters, así como miembro del comité ejecutivo de Grupo Danone
                    Global, consejera de UNITEC, miembro del consejo y fellow de International Women’s Forum (IWF),
                    miembro del Young Presidents Organization (YPO) y Women Corporate Directors (WCD). También es
                    coordinadora del foro de grupo de inclusión y diversidad del Consejo Coordinador Empresarial y el
                    Pacto Mundial de la ONU en México. Cuenta con una licenciatura en Marketing por la UNITEC y
                    una maestría en business economics por el ITESM, además de diversos estudios de posgrado por el
                    IMD, Harvard Business School e INSEAD. La Sra. Dávila cuenta con amplia experiencia en
                    transformación
                    de negocios, transformación digital, mercadotecnia, innovación y desarrollo de equipos.</p>
            </div>
        </div>
    </div>
</section>
