<section class="d-none diretivo-perfil comite 1">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Federico Garza Santos</h3>

                <p>Appointed as a member of the Technical Committee in January 2015, he is Chairman of
                    the Technical Committee and additionally sits on the Investment Committee and the Nominations
                    Committee.</p>
                <p> Mr. Garza Santos is an entrepreneur and currently Chairman of the Board of Directors
                    of Grupo Delta, a leading real estate development, investment and project management company
                    that has developed more than one million square meters, a company of which he was CEO, where
                    he developed extensive experience in the development and operation of real estate. On the other
                    hand, he actively participates in organizations that promote social development and citizen
                    participation in the communities. He is also chairman of the board of directors of Numa Inmuebles,
                    a company dedicated to providing real estate consulting, as well as the development and marketing
                    of residential and commercial real estate. Moreover, Mr. Garza Santos is chairman of the technical
                    committee of Deltack, capital administrators for the development of real estate projects in Mexico,
                    and member of the board of directors of Desarrollos Delta USA, Tres Vidas Acapulco, Arinmsur,
                    Citadela Mérida and member of the board of directors of Promotora Ambiental and Inmobiliaria
                    Macroplaza. Mr. Garza Santos holds a degree in industrial and systems engineering
                    from the Instituto Tecnológico y de Estudios Superiores de Monterrey (ITESM).</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 2">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>David Francisco Garza Santos</h3>
                <p>Mr. Garza Santos has a Bachelor’s Degree in Business Administration from the ITESM. He is currently a
                    Board Member of the following companies: <span class="font-italic">Buró Inmobiliario Avanti</span>,
                    Delta Inmobiliaria y Valores,
                    Emprendedores Inmobiliarios Delta, LFMG Corporativo, Promotora Ambiental, DCH Administración, Grupo
                    Maquinas Diesel, Kansas City Southern, Grupo Financiero Banorte, Citadela Mérida, El Rincón USA, and
                    Onix Mantenimientos.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 3">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Guillermo Enrique Babatz Torres</h3>

                <p>Appointed as a member of the Technical Committee in January 2015 and additionally forms part of the
                    Investment
                    Committee and the Corporate Practices Committee.</p>
                <p> Mr. Babatz has been Director of Coordination and Training of
                    Internal Credit and General Director of Insurance and Securities of the Ministry of Finance, General
                    Director
                    of the Federal Mortgage Society, President of the National Banking and Securities Commission (CNBV).
                    At the
                    CNBV he was responsible for day-to-day operations and acted as Mexico's representative on the Basel
                    Committee
                    on Banking Supervision (BCBS), the International Organization of Securities Commissions (IOSCO) and
                    the Financial
                    Stability Board (FSB). Mr. Babatz is currently a Managing Partner of Atik Capital, a consulting firm
                    specializing
                    in financial structuring, regulatory advice to financial institutions, digital business
                    transformation and risk
                    management. He has extensive experience in the financial, stock market, regulatory, risk management
                    and digital
                    transformation of businesses. Moreover, he is a director of the Bank of Nova Scotia (Scotiabank) in
                    Canada
                    where he chairs the Risk Committee. He is also chairman of the board of Grupo Financiero Scotiabank
                    Inverlat
                    and its subsidiaries in Mexico, as well as Trustee of the IFRS Foundation. Mr.
                    Babatz holds
                    a B.A. in economics from ITAM and a Ph.D. in economics from Harvard University.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 4">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Alberto Eugenio Garza Santos</h3>
                <p>He began his studies in business administration in ITESM, to subsequently graduate from political
                    science in Southern Methodist University. He is a Founding Partner and Chairman of Promotora
                    Ambiental, S.A.B. de C.V. (PASA), Thermion Energy, S.A. de C.V. and Sirius Energy, S.A. de C.V. He
                    founded and is owner of the ecological reserve known as Museo Maderas del Carmen, A.C., located in
                    Coahuila. He served as Chairman of Parque Ecológico Chipinque and presided the <span
                            class="font-italic">Comisión de Medio
                    Ambiente</span> of CANACINTRA. Additionally, he is member of the Board of Managers of Desarrollos
                    Delta,
                    Promotora del Viento, Thermion Renewable, Ventures, Administradora Thermion and Compañía Petrolera
                    Perseus, Chairman and founder of the <span class="font-italic">Observatorio Ciudadano de la Calidad del Aire del Área
                    Metropolitana de Monterrey (OCCAMM)</span>.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 5">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Alberto Federico Terrazas Seyffert</h3>
                <p>Appointed as a member of the Technical Committee in January 2015 and additionally forms part of the
                    Indebtedness Committee and the Investment Committee, of which he is Chairman.</p>
                <p> Mr. Terrazas holds a degree
                    in Industrial and Systems Engineering from the Instituto Tecnológico y de Estudios Superiores de
                    Monterrey
                    (ITESM) and an OPM Diploma from Harvard Business School and is the CEO of one of
                    the most
                    important Chihuahua companies in the region, Grupo Punto Alto, a company focused on the
                    construction,
                    real estate, metal mechanics, aeronautics and services sectors. He was president of the National
                    Chamber
                    of the Transformation Industry (CANACINTRA) in Chihuahua in the period 2009-2012, President of
                    Economic
                    Development AC 2013-2016 and director of BBVA Bancomer and Banorte. He has extensive experience in
                    the real
                    estate and construction sector.</p>
                <p> Additionally, Mr. Terrazas Seyffert is a member of the board of directors of
                    Copachisa, an industrial design and construction company with more than 9,000,000 m<sup>2</sup>
                    built, and has been a
                    member of the board of directors of Demek, a company that has built more than 400 industrial
                    projects in 20
                    states of the Mexican Republic, Emycsa, a construction company in steel structures that has produced
                    a total
                    of 206 thousand 300 tons of materials, as well as a total of 5 million 670 thousand m<sup>2</sup> of
                    sheet roofing, ESJ,
                    a leading company in the design, manufacture and supply of structural steel solutions that has
                    created structural
                    solutions for more than 31 million square meters, GCC, a leading company in the production of
                    cement, concrete,
                    aggregates and innovative solutions in the construction industry, Grupo Ruba, a housing developer
                    with a track
                    record of more than 40 years and Grupo Cofiasa, a company that sells iron and steel products from
                    northern Mexico.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 6">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Enrique Guillermo de Jesús Terrazas Torres</h3>
                <p>Mr. Terrazas Torres holds a Banchelor’s Degree in Civil Engineering from Cornell University, New York
                    City. Additionally he completed the AD-2 Executive Management Program of the <span
                            class="font-italic">Instituto Panamericano
                    de Alta Dirección de Empresas (IPADE)</span>. Mr. Terrazas is member of the Board of Managers of
                    Grupo
                    Cementos de Chihuahua, as well as of some of its subsidiaries, since 1991. Likewise, he is a Board
                    Member of Grupo Punto Alto and Honorary Chairman of Grupo Ruba.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 7">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Eugenio Santiago Clariond Reyes</h3>
                <p>Appointed as a member of the Technical Committee in January 2015 and additionally forms part of the
                    Corporate
                    Practices Committee, the Investment Committee, the Nominations Committee and the Indebtedness
                    Committee, of
                    which he is Chairman.</p>
                <p> Mr. Clariond is Honorary Chairman of the Board of Directors of Grupo Cuprum, the
                    leading aluminum extruder in Latin America, Grupo Cleber, a leading multi-brand group in the
                    automotive
                    distribution industry in the North and Northeast of the country, and Fultra, a business group
                    focused on
                    the transportation sector. Among other positions, he has been president and CEO of Grupo IMSA, a
                    leading
                    industrial company in the business segment of processed steel products, where he participated for
                    more than
                    55 years from management positions to general management, developing extensive experience in the
                    management
                    of leading companies in their industry. He has also been vice-president of the World Business
                    Council for
                    Sustainable Development (WBCSD), president of the Mexican Chapter of the North American 73 Committee
                    (NAC),
                    president of the U.S.-Mexico Chamber of Commerce and president of the National Council of Foreign
                    Trade (CONACEX);
                    president of the Mexican Council of Businessmen. Mr. Clariond has a degree and
                    master's
                    degree in Business Administration from the Instituto Tecnológico y de Estudios Superiores de
                    Monterrey (ITESM).
                    Additionally, Mr. Clariond Reyes is a member of the board of directors of the following companies:
                    Grupo Industrial Saltillo, Orbia, Grupo Financiero Ve por Más and Grupo Galería; he is also a member
                    of the Technical Committee of Fibra Mty, Grupo Energex and Exel del Norte; and former sole director
                    of Buró Inmobiliario Elite.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 8">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Eugenio Clariond Rangel</h3>
                <p>Mr. Clariond Rangel has a Bachelor’s Degree in Chemical and Systems Engineering from the Monterrey
                    Institute of Technology and Higher Education (<span class="font-italic">Instituto Tecnológico y de Estudios Superiores de
                    Monterrey – ITESM</span>), an MBA by the University of Texas in Austin and completed the Business
                    Administration International Program of IPADE. He has held several positions in industrial
                    companies, and currently holds the presidency and general management of Grupo Cuprum. He has been in
                    charge and participated as: Board Member and member of the Credit Committee of Banco Ve por Más
                    (BX+), Board Member of MEXICHEM, S.A.B. de C.V., Chairman of the <span class="font-italic">Cámara de la Industria de
                    Transformación de Nuevo León (CAINTRA)</span>, VP of the Confederación de las Cámaras Industriales
                    (CONCAMIN), Chairman of the <span
                            class="font-italic">Instituto Mexicano de Aluminio, A.C. (IMEDAL)</span>, Board Member of
                    COPARMEX
                    NL and COMCE Noreste. Additionally, Mr. Clariond Rangel is member of the Board of Managers of the
                    following companies: XIGNUX, ELEMENTIA and PYOSA Industrias, Board Member of UDEM and Fundación
                    UANL, Chairman of the Cluster de Vivienda de Nuevo León and Chairman of Consejo de Flora y Fuana de
                    Nuevo León.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 9">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Bernardo Luis Guerra Treviño</h3>
                <p>Mr. Guerra is the founder of MG Capital and has acted as its CEO since 1995. Previously, he has held
                    several key positions in financial institutions in Monterrey and Mexico City. Mr. Guerra Treviño
                    holds a Bachelor’s Degree in Industrial and Systems Engineering from the ITESM.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 10">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Mauricio Morales Sada</h3>
                <p>Mr. Morales Sada has a Bachelor’s Degree in Mechanical Engineering and Administration from the
                    Monterrey Institute of Technology and Higher Education (<span class="font-italic">Instituto Tecnológico y de Estudios
                    Superiores de Monterrey – ITESM</span>). He is a Founding Partner and Chairman of MG Capital (1995),
                    a
                    company dedicated to provide advice in capital markets investments. Previous to MG Capital, he
                    served as several positions in Mexican financial institutions.</p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 11">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Juan Carlos Calderón Guzmán</h3>
                <p> Appointed as a member of the Technical Committee in January 2015 and additionally forms part
                    of the Investment Committee, the Indebtedness Committee, the Audit Committee and Corporate Practices
                    Committee, of which he is Chairman.</p>
                <p> Mr. Calderon has an extensive background in financial and risk
                    areas within Invercap, Vector, Cemex, Merrill Lynch and Banamex. Founding partner of Talous
                    Consulting Services. Mr. Calderón holds a degree in economics from the Instituto
                    Tecnológico y de Estudios Superiores de Monterrey (ITESM), and an MBA from the Massachusetts
                    Institute
                    of Technology (MIT).</p>
                <p> Additionally, Mr. Calderón Guzmán is a member of the board of directors of Banregio,
                    Grupo Vigia, Afore Invercap and Thelsa Mudanzas and a managing partner of Arvo Capital.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 12">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Emilio Jesús Marcos Charur</h3>
                <p>Mr. Marcos Charur has a Bachelor’s Degree in Industrial and Systems Engineering from the Monterrey
                    Institute of Technology and Higher Education (<span class="font-italic">Instituto Tecnológico y de Estudios Superiores de
                    Monterrey – ITESM</span>) and an MBA from the University of Illinois. He is the Chief Financial
                    Officer in
                    Arca Continental, the third bottler of Coca Cola in the world. Additionally, he is member of the
                    Board of Managers of Jugos del Valle and Grupo Piasa (<span class="font-italic">Productora Industrial Azucarera</span>).
                </p>
            </div>
        </div>
    </div>
</section>

<section class="d-none diretivo-perfil comite 13">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Andrés Ochoa Bünsow</h3>
                <p>Appointed as a member of the Technical Committee in July 2017 and additionally serves on the
                    Investment
                    Committee, Corporate Practices Committee and Audit and Nominations Committees, of which he is
                    Chairman. </p>
                <p>Mr. Ochoa is a practicing attorney, investor and board member of several public and private
                    companies. He
                    was a partner at Baker McKenzie since 1986 where he practiced transactional law with extensive
                    experience
                    in the corporate finance, M&A, real estate and infrastructure sectors, among others. Throughout his
                    career,
                    he has held various senior management roles including Chairman of Baker McKenzie International's
                    Global Policy
                    Committee, Chairman of the Global Finance Committee, Chairman of the Latin America Regional Council
                    and
                    National Managing Partner of the firm's office in Mexico. He was also a member of the firm's Global
                    Executive
                    Committee, where he served under Christine Lagarde, until recently the Managing Director of the
                    International
                    Monetary Fund. With more than 40 years of experience, Mr. Ochoa Bünsow has been recognized as one of
                    the leading
                    lawyers in corporate and financial law, having received multiple awards, such 74 as his continued
                    certification
                    by Chambers Latin America and Latin American Law Firm Leader of the Year 2013 by the prestigious
                    English magazine
                    Latin Lawyer. He actively participates in associations such as the Nuevo León Council and the
                    American Chamber
                    of Commerce of Mexico, Monterrey Chapter, of which he was President and currently chairs the
                    Committee for
                    Industrial Promotion and Economic Development (COFIDE for its Spanish acronym). He is Chairman of
                    the Board of
                    Directors and President of the Executive Committee of Invest Monterrey (DeMTY, A.C.), a
                    public-private partnership
                    that brings together more than one hundred private companies, public agencies, universities and
                    business organizations
                    to promote the attraction of capital and economic development in the State of Nuevo León. He is 66
                    years old.</p>
                <p>Mr. Ochoa obtained his law degree from the Escuela Libre de Derecho in Mexico City and his LL.M. in
                    International
                    Corporate Law from Columbia University in New York City. In addition to practicing in Mexico, he is
                    a member of the
                    New York State Bar, to which he was admitted by the New York State Supreme Court in 1986.</p>
                <p>Additionally, Mr.
                    Ochoa Bünsow is Chairman of the Board of Directors of Grupo Famsa and Cinquefoil,
                    and board member of the following
                    companies:
                    Farmacias Benavides, Güntner de México, Christus Muguerza, El Paso Industrial Supplies México, EPIS
                    Logistics,
                    Grupo Club PM Project Management, Branding Alliance Media, Grupo de Desarrollo y Entretenimiento de
                    Hermosillo,
                    Promotora Inmobiliaria Villa XXI, Vivace, American Chamber of Commerce of Mexico and Nuevo León
                    SEDET Council
                    Comission for the Economic Development and Development of MTY. He also serves as Commissioner of
                    British American
                    Tobacco Mexico.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 14">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Carlos Francisco García Reyes</h3>
                <p> Mr. García Reyes has a Bachelor’s Degree in Industrial and Systems Engineering from the Monterrey
                    Institute of Technology and Higher Education (<span class="font-italic">Instituto Tecnológico y de Estudios Superiores de
                    Monterrey – ITESM</span>) and an MBA from the same University. He is a Founding Partner of IAM
                    Consultores,
                    Founding Partner and Board Member of Soiler Fondos Inmobiliarios, Erbe Fonds and Digital Ocean and
                    served as Director of Capital Markets of Vector Casa de Bolsa. Additionally, Mr. García Reyes is the
                    Sole Manager of IAM Inmuebles, Fluvisol, García Canales and member of the Board of Managers of Next
                    Telekom, IAM Activos and Hotspot.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 15">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Luz Adriana Ramirez Chávez</h3>
                <p> Appointed as a member of the Technical Committee in October 2019 and additionally sits on the
                    Investment
                    Committee and Audit Committee.</p>
                <p>Ms. Ramirez Chavez is currently the General Director of Visa Mexico,
                    as well as Vice President of the committee of the Executive Council of Global Enterprises (CEEG) and
                    Vice
                    President of the committee of the Mexican Association of Executive Women (AMME), participated in the
                    course
                    "Women on Boards" at Harvard Business School, as well as in the committees of Women in Senior
                    Management at
                    IPADE and Diversity of American Chambers. She has extensive experience in finance and information
                    technology
                    applied to business. She has a degree in Chemical Engineering from La Salle University and an MBA in
                    Business
                    Administration and also studied Finance and Investment Project Evaluation at the University of
                    Buenos Aires,
                    Argentina.</p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 16">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Carmen Eugenia Garza T. Junco</h3>
                <p>Appointed as a member of the Technical Committee in April 2022.
                    Ms. Garza T Junco holds a Bachelor’s Degree in Business Administration from the Monterrey Institute
                    of Technology and Higher Education (Instituto Tecnológico y de Estudios Superiores de Monterrey –
                    ITESM). In 2005 she assumed the management of Fundación Frisa, corporate foundation of FRISA
                    Industrias, global leader in manufacturing of seamless rolled rings and open die forgings,
                    foundation dedicated to support projects that promote social mobility in Nuevo León. She is member
                    of the Board of Directors of Frisa Industrias, Universidad de Monterrey, Consejo de Nuevo León para
                    la Planeación Estratégica, FUNDMEX Fundación del Empresariado Mexicano, A.C.. Cofounder and
                    Chairwoman of the Board of the first community foundation in Nuevo León, COMUNIDAR. In 2015, Ms.
                    Garza T Junco assumed the chair of the Consejo de Participación Ciudadana de la Secretaría de
                    Desarrollo Social del Estado de Nuevo León.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="d-none diretivo-perfil comite 17">
    <div class='container-fluid container-relative'>
        <div class="row d-flex align-items-center m-0">
            <div class="col-md-12">
                <div class="cerrar-info">
                    <i class="fa fa-times fa-2x "></i>
                </div>
                <h3>Silvia Lucía Dávila Kreimerman</h3>
                <p>Appointed as a member of the Technical Committee in April 2021.</p>
                <p>Ms. Dávila Kreimerman is currently Latin America Regional President for Danone and Latin America
                    President for the EDP and Waters businesses, as well as a member of the executive committee of
                    Danone
                    Global Group, advisor to UNITEC, board member and fellow of the International Women's Forum (IWF),
                    member of the Young Presidents Organization (YPO) and Women Corporate Directors (WCD). She is also
                    coordinator of the inclusion and diversity group forum of the Business Coordinating Council and the
                    UN Global Compact in Mexico. She holds a bachelor's degree in Marketing from UNITEC and a master's
                    degree in business economics from ITESM, in addition to several postgraduate studies from IMD,
                    Harvard
                    Business School and INSEAD. Ms. Dávila has extensive experience in business transformation, digital
                    transformation, marketing, innovation and team development.</p>
            </div>
        </div>
    </div>
</section>
