{% load static i18n %}

<footer class="footer" id="footer">
    <div class="container-fluid container-relative">
        <div class="row">
            <div class="col-lg-5 mt-0 mt-md-4 mt-lg-0">
                <img class="logo" width="100px" height="100%" src="{% static 'images/logo-educa-blanco.png' %}"
                     alt=""/>
                <p class="mb-1 text-justify">
                    We are the first and only real estate investment trust focused exclusively on the educational sector in the country. Our mission is to generate value by consistently identifying prime opportunities that support the personal and professional growth of Mexico’s population.

                </p>
                <div class = "d-flex mt-2">
                    <a href ="contacto.ir@fibraeduca.com"><div class ="media-link"><img src ="{% static 'images/logo_email.png' %}" alt = "Logo E-mail"></div></a>
                    <a href =" https://mx.linkedin.com/company/fibraeduca"><div class ="media-link"><img src ="{% static 'images/logo_in.png' %}" alt = "Logo LinkedIn"></div></a>
                    <a href ="  https://x.com/fibraeduca"><div class ="media-link"><img src ="{% static 'images/X icono-01.png' %}" alt = "Logo X"></div></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pt-2 mt-5">
                <h6 class ="text-center">Corporate offices:</h6>
                <ul class="navigation2 mb-0">
                    <li>
                        <div class="d-flex align-items-center justify-content-center">
                            {#                            <i class="fa fa-2x fa-globe mr-3"></i>#}
                            <p>San Jerónimo 458, Jardines del Pedregal, Delegación Álvaro Obregón, 01900 Mexico City, CDMX </p>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex align-items-center">
                            {#                            <i class="fa fa-2x fa-phone mr-3"></i>#}
                            <p>Tel: +52 (55) 8842 5500</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 pt-2 mt-5">
               
                <div class ="mb-3">
                    <a href="{% url 'denuncia' %}">
                        <div class="custom-bg mb-2 border-email d-flex align-items-center justify-content-between">
                            <p class="mb-0">Complaint Line</p>
                            <i class="fa fa-envelope-o"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container-fluid container-relative">
            <div class="row align-items-center">
                <div class="col-md-6">
                                <span class="value">
                                    Fibra Educa © All rights reserved {% now 'Y' %} | Designed and generated by <a
                                        href="https://www.irdesign.mx">IRDesign.</a></span>
                </div>
                <div class="col-md-6 text-md-right">
                    {#                    <a class="value mr-3" href="{% url 'aviso-privacidad' %}">{% trans 'Aviso de privacidad' %}</a>#}
                    {#                    <a class="value mr-3" target="_blank"#}
                    {#                       href="https://denuncia.fibramty.com/">{% trans 'Denuncia anónima' %}</a>#}
                    <div id="top" class="top-link">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
