{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
 <div class="container-fluid p-5 text-center">
    <div >
        <h1 id ="contenido" class="text-center" style="color: #23356B">Informes Anuales Sostenibles</h1>
        <div class="row justify-content-center wow fadeInUp">
            <div class="col-md-3 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank"
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/InformesAnuales/Informe-Anual-de-Sustentabilidad-2020.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/Informes-16.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Informe Anual 2020</button>
                </a>
            </div>
            <div class="col-md-3 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank"
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/InformesAnuales/Informe-Anual-de-Sustentabilidad-2021.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/Informes-13.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Informe Anual 2021</button>
                </a>
            </div>
            <div class="col-md-3 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank"
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/InformesAnuales/Informe-Anual-de-Sustentabilidad-2022.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/Informes-14.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Informe Anual 2022</button>
                </a>
            </div>
            <div class="col-md-3 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank" 
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/InformesAnuales/Informe-Anual-de-Sustentabilidad-2023.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/Informes-15.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Informe Anual 2023</button>
                </a>
            </div> 
              <div class="col-md-3 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank" 
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/InformesAnuales/Informe-Anual-de-Sustentabilidad-2024_.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/Informes-24.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Informe Anual 2024</button>
                </a>
            </div>                
        </div>
    </div>
</div>
 <div class="container-fluid p-5 text-center">
    <div >
        <h1 id ="contenido" class="text-center" style="color: #23356B">Financiamiento Sostenible</h1>
        <div class="row justify-content-center wow fadeInUp">
            <div class="col-md-6 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank"
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/Financiamiento/SPO.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/spo.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">SPO</button>
                </a>
            </div>
            <div class="col-md-6 col-lg-2 mb-4">
                <a class="d-flex flex-column" target="_blank"
                    href="https://investorcloud.s3.amazonaws.com/FibraEDUCA/Sostenibilidad/Financiamiento/Framework.pdf"
                    >
                    <img class="mb-3" src="{% static 'images/frame.png' %}" alt="">
                    <button class="btn btn-default" style="background-color:#23356B; color:white; font-size:14px;">Framework</button>
                </a>
            </div>                    
        </div>
    </div>
</div>
{% endblock %}