{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>
                            <p>27 de septiembre del 2021</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/septiembre/6.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>Hablar de inversiones es una tarea tan compleja como necesaria. Todos debemos aprender a invertir
                        y comenzar a incursionar en el mundo financiero en algún momento de nuestras vidas. Existen
                        demasiados instrumentos de inversión, y aquí vamos a contarte de qué se trata todo esto.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2>Inversiones, invertir, e instrumentos de inversión</h2>
                    <p>En lo que al mundo financiero respecta, el acto de invertir consiste en llevar a cabo aquellas
                        acciones cuyo objetivo consiste en buscar rentabilidades para nuestro dinero. A tal fin, existen
                        diferentes tipos de instrumentos que pueden ayudarnos. </p>
                    <p>Todos ellos, agrupados según sus características y cualidades, nos permitirán ingresar a
                        distintos mercados. Asimismo, estos mercados nos enfrentarán a distintos riesgos y, desde luego,
                        nos permitirán recibir excelentes beneficios.</p>
                    <p>Los instrumentos de inversión pueden ser distinguidos, entre otros factores, según su tipo de
                        rentabilidad. De este modo, encontramos dos subtipos principales:</p>
                    <ol class="ls-decimal">
                        <li>Instrumentos de renta fija: tal vez la más segura en cuanto a riesgo, fundada en la
                            emisión de, por ejemplo, bonos gubernamentales o bancarios. Los instrumentos de renta fija
                            funcionan como préstamos, en donde el inversionista recibe un interés sobre su inversión y
                            tienen una fecha de vencimiento establecida.
                        </li>
                        <li>Instrumentos de renta variable: un poco más arriesgados y ajustados a la actividad diaria
                            del mercado y sus fluctuaciones, están sustentados generalmente en las acciones emitidas por
                            las empresas. A diferencia de los instrumentos de renta fija, la renta variable no tiene una
                            fecha de vencimiento y el rendimiento está más relacionado con el reparto de utilidades y la
                            apreciación de capital.
                        </li>

                    </ol>
                    <h2>Amplificación de los Instrumentos de Inversión</h2>
                    <p>El mundo financiero, respecto a los instrumentos que permiten aumentar nuestro capital vía
                        inversión, está en constante evolución y crecimiento. Esto se debe, principalmente, a la
                        oportunidad que los inversionistas encontraron para diversificar su cartera. </p>
                    <p>Ahora bien, existen instrumentos de inversión híbridos. Se trata, básicamente, de aquellos que
                        combinan ciertas características de aquellos que son de renta fija y de renta variable. Las
                        FIBRAs son un instrumento híbrido puesto que no tiene una fecha de vencimiento, tiene un
                        rendimiento constante proveniente de las rentas y pueden generar plusvalía. </p>
                    <p>Cabe destacar también algunas cuestiones importantes. En primer lugar, los instrumentos de
                        inversión híbridos, como las FIBRAs,suelen ser más seguros que las acciones (instrumentos de
                        renta variable). </p>
                    <p>En segundo lugar, estos instrumentos ofrecen una mayor rentabilidad que los bonos, ya que el
                        rendimiento es variable y da lugar a la plusvalía de la inversión por la apreciación de los
                        activos. </p>
                    <h2>Algunas consideraciones para ingresar al mundo de las inversiones</h2>
                    <p>Como es de esperarse, este mundo no es particularmente sencillo de comprender. Siempre es
                        recomendable, antes de meterse de lleno con este tipo de instrumentos, asegurarnos de contar con
                        la mayor cantidad de información posible al respecto.</p>
                    <p>De este modo, sólo comprendiendo a fondo el movimiento de los mercados financieros y basándonos
                        en ciertos tipos de análisis, podremos considerarnos aptos para comenzar a incursionar allí.</p>
                    <p>Por otra parte, es imprescindible que sepas que, si bien lo ideal siempre suele ser diversificar
                        la cartera de inversiones de la mejor manera posible, esto no es algo que pueda tomarse a la
                        ligera. </p>
                    <p>Todos los instrumentos tienen sus tiempos, reglas, riesgos y beneficios, y debes conocerlos a
                        fondo para comprender correctamente cómo y dónde estarás depositando tu dinero.</p>
                    <p>Recuerda que, para mantenerte al tanto de las actualizaciones del mercado, puedes seguirnos en <a
                            href="https://twitter.com/fibra_mty"
                            target="_blank">Twitter</a>, <a
                            target="_blank" href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos">YouTube</a>
                        y <a target="_blank"
                             href="https://www.linkedin.com/company/fibramty">LinkedIn</a>. </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
