{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        {#                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>#}
                        <p>agosto del 2022</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/22_agosto/1-53.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>
                        En el mundo de las inversiones, la diversificación es clave para reducir riesgos. Una opción
                        atractiva en el mercado inmobiliario es la inversión en bienes raíces a través de las FIBRAs.
                    </p>
                    <p>
                        Conoce en detalle la estrategia en la que se basa Fibra Mty para aumentar la riqueza de sus
                        clientes a través de una plataforma de inversión diversificada.
                    </p>
                    <p>
                        También te puede interesar:
                        <a href="{% url 'noticia_39' %}">
                            Inversión en Bienes Raíces vs. Inversión en la Bolsa de Valores | Finn
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2>
                        Estrategia de Fibra Mty para la inversión en bienes raíces
                    </h2>
                    <p>
                        Somos una opción de inversión en bienes raíces que te brinda la oportunidad de construir un
                        futuro rentable, sólido y confiable a través de la adquisición y gestión de propiedades.
                    </p>
                    <p>
                        Cada acción que emprendemos está orientada hacia la redefinición de la rentabilidad inmobiliaria
                        de manera sostenible. Por eso, contamos con una estrategia rigurosa en beneficio de nuestros
                        inversionistas. Estos son los principios de nuestra estrategia:
                    </p>
                    <h3>
                        Gobierno corporativo alineado
                    </h3>
                    <p>
                        Nos esforzamos por mantener los más altos estándares internacionales en nuestra toma de
                        decisiones, asegurando la calidad en cada paso. La rendición de cuentas y la alineación de
                        incentivos son fundamentales para alcanzar nuestros objetivos. En términos de gobierno
                        corporativo, destacamos por:
                    </p>
                    <ol class="">
                        <li>
                            <span>
                                1. Administración interna sin comisiones
                            </span>
                            <p>
                                En Fibra Mty no cobramos comisiones por nuestra gestión. Esto garantiza que nuestras
                                decisiones se basen únicamente en el interés de nuestros inversionistas, sin conflicto
                                de intereses.
                            </p>
                        </li>
                        <li>
                            <span>
                                2.	Ausencia de un grupo de control
                            </span>
                            <p>
                                No existe un accionista con más del 16% de la empresa y tampoco existen derechos
                                diferenciados entre nuestros inversionistas. Esto nos brinda una estructura equilibrada
                                y evita la concentración de poder, permitiendo una toma de decisiones más transparente y
                                en beneficio de quienes realizan su inversión en bienes raíces con nosotros.
                            </p>
                        </li>
                        <li>
                            <span>
                                3.	Comité técnico diversificado y seleccionado anualmente
                            </span>
                            <p>
                                Contamos con un comité técnico conformado por profesionales especialistas en diferentes
                                ramas seleccionados de manera anual. Esta diversidad garantiza diferentes perspectivas y
                                conocimientos para evaluar nuestras decisiones estratégicas.
                            </p>
                        </li>
                        <li>
                            <span>
                            4.	Decisiones relevantes tomadas por los inversionistas
                            </span>
                            <p>
                                Creemos en la participación activa de nuestros inversionistas en las decisiones
                                importantes. Es por ello que contamos con lineamientos muy claros para que sean los
                                inversionistas los que tomen las decisiones más relevantes.
                            </p>
                        </li>
                    </ol>
                    <h3>
                        Portafolio de alta calidad
                    </h3>
                    <p>
                        En Fibra Mty contamos con inquilinos de renombre a nivel internacional que se encuentran
                        diversificados en diferentes sectores económicos. Trabajamos en estrecha colaboración con ellos
                        para garantizar contratos de arrendamiento a largo plazo, la mayoría de los cuales están
                        denominados en dólares.
                    </p>
                    <p>
                        Nos esforzamos por mantenernos a la vanguardia mediante inversiones y mejoras continuas en
                        nuestros edificios. Esto nos permite satisfacer las necesidades cambiantes de nuestros clientes
                        y asegurar altos niveles de satisfacción en su inversión en bienes raíces.
                    </p>
                    <h3>
                        Estrategia ordenada de crecimiento
                    </h3>
                    <p>
                        Aseguramos la calidad en cada etapa de nuestras adquisiciones. Evaluamos cuidadosamente la
                        ubicación, el inmueble, el inquilino y el contrato de arrendamiento para garantizar resultados
                        sólidos.
                    </p>
                    <p>
                        Nuestro objetivo principal es lograr rendimientos constantes y predecibles, por lo tanto, todas
                        nuestras adquisiciones se encuentran al 100 % estabilizadas. Además, no nos involucramos en el
                        desarrollo ni la compra de edificios especulativos.
                    </p>
                    <p>
                        Para reducir constantemente el riesgo en nuestro portafolio, realizamos inversiones estratégicas
                        en diferentes ubicaciones y mantenemos un equilibrio adecuado entre propiedades industriales y
                        de oficinas. Esto nos permite diversificar nuestro riesgo y aprovechar las oportunidades en
                        diferentes sectores económicos.
                    </p>
                    <h3>
                        Estructura balanceada de capital
                    </h3>
                    <p>
                        Nos enfocamos en generar un crecimiento constante y responsable, por eso, establecemos
                        directrices claras con relación a nuestras fuentes de financiamiento. De esta manera, hacemos
                        que tu inversión en bienes raíces tenga un crecimiento constante, pero con un riesgo manejable y
                        prudente. Dentro de nuestros principios clave se destacan:
                    </p>
                    <h5 class="ml-3">
                        Endeudamiento prudente
                    </h5>
                    <p>
                        Mantenemos un nivel de endeudamiento que es inferior al 35 % de nuestros activos. Esta medida
                        nos permite mantener un equilibrio financiero saludable y minimizar los riesgos asociados a una
                        carga excesiva de deuda.
                    </p>
                    <h5 class="ml-3">
                        Efectivo moderado disponible
                    </h5>
                    <p>
                        Contamos con un monto adecuado de efectivo disponible en caja. De esta forma no tenemos una
                        cantidad excesiva de dinero ocioso de forma constante, solo lo necesario para hacer frente a
                        nuestros gastos operativos, corporativos y financieros.
                    </p>
                    <h5 class="ml-3">
                        Líneas de crédito disponibles
                    </h5>
                    <p>
                        Mantenemos líneas de crédito en caso de que sean necesarias. Esto nos proporciona una red de
                        seguridad adicional y nos permite gestionar cualquier necesidad de financiamiento de manera
                        oportuna y eficiente.
                    </p>
                    <h5 class="ml-3">
                        Emisiones de capital a precios razonables
                    </h5>
                    <p>
                        Nos aseguramos de que cada emisión se realice de manera transparente y equitativa, brindando a
                        nuestros inversionistas la oportunidad de participar en el crecimiento de Fibra Mty en
                        condiciones favorables. Además, cuidamos que el precio de nuestras emisiones hagan sentido con
                        las condiciones del mercado y de nuestro portafolio, siempre cuidando los intereses de nuestros
                        inversionistas.
                    </p>
                    <h5 class="ml-3">
                        Gestión adecuada del riesgo
                    </h5>
                    <p>
                        Administramos adecuadamente el riesgo en todas nuestras operaciones. Implementamos medidas y
                        estrategias para identificar, evaluar y mitigar los riesgos financieros y operativos, asegurando
                        así la estabilidad y el éxito a largo plazo.
                    </p>
                    <h2>
                        Realiza tu inversión en bienes raíces con Fibra Mty
                    </h2>
                    <p>
                        En <a href="https://www.fibramty.com/">Fibra Mty </a>estamos comprometidos en ayudarte a
                        construir un futuro sólido y rentable a través
                        de nuestra estrategia de inversión en bienes raíces. Nos enorgullece ofrecer una plataforma
                        eficiente que te permite aprovechar las oportunidades del mercado inmobiliario.
                    </p>
                    <p>
                        Nuestra estrategia se enfoca en la selección cuidadosa de las propiedades, poniendo especial
                        atención en la ubicación, la calidad del inmueble y la solidez del contrato de arrendamiento.
                        Nos aseguramos de invertir en activos inmobiliarios con potencial de crecimiento y estabilidad a
                        largo plazo.
                    </p>
                    <p>
                        Además, trabajamos en estrecha colaboración con nuestros inquilinos para garantizar contratos de
                        arrendamiento a largo plazo que aumenten tu retorno de inversión en bienes raíces a través de
                        las FIBRAs.
                    </p>
                    <p>
                        Si quieres aumentar tu riqueza y usar tus ingresos de manera eficiente, ingresa a Fibra Mty y
                        descubre la mejor plataforma para invertir en FIBRAs inmobiliarias. Si quieres conocer más te
                        invitamos a seguirnos en
                        <a href="https://twitter.com/fibra_mty" target="_blank"> Twitter</a>,
                        <a href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos" target="_blank"> YouTube</a> y
                        <a href="https://www.linkedin.com/company/fibramty" target="_blank"> LinkedIn</a>.

                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
