{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        {#                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>#}
                        <p>agosto del 2022</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/22_agosto/3-55.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>
                        Las FIBRAs inmobiliarias han surgido como una solución innovadora que permite a los
                        inversionistas adentrarse en el mundo de los bienes raíces a través de la Bolsa Mexicana de
                        Valores. Estos instrumentos bursátiles, conocidos como FIBRAs (Fideicomisos de Inversión en
                        Bienes Raíces), ofrecen una forma atractiva y rentable de beneficiarse de los ingresos generados
                        por el arrendamiento de inmuebles.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <p>
                        Imagina la posibilidad de obtener ganancias constantes provenientes del mercado inmobiliario,
                        sin tener que lidiar con la gestión, mantenimiento o búsqueda de inquilinos. Las FIBRAs
                        inmobiliarias hacen esto posible al invertir en una cartera diversificada de propiedades
                        industriales, oficinas, hoteles, entre otros sectores.
                    </p>
                    <p>
                        Pero, ¿cómo funcionan realmente las FIBRAs? En este artículo, desglosaremos cinco datos
                        fundamentales que te ayudarán a comprender mejor su funcionamiento, ventajas y el impacto que
                        han tenido en el mercado de capitales en México.
                    </p>
                    <p>
                        También te puede interesar:
                        <a href="{% url 'noticia_50' %}"> Aprende a invertir en FIBRAs en solo 5 pasos</a>
                    </p>
                    <h2>
                        Obligaciones clave de las FIBRAs inmobiliarias
                    </h2>
                    <p>
                        Las FIBRAs inmobiliarias se rigen por ciertas obligaciones que garantizan su funcionamiento y
                        beneficios para los inversionistas. Estas son las tres obligaciones fundamentales que deben
                        cumplir:
                    </p>
                    <ul>
                        <li>
                            ● <span class="font-weight-bold">Inmuebles destinados al arrendamiento:</span> al menos el
                            70 % de los activos de una FIBRA deben consistir en inmuebles destinados al arrendamiento.
                        </li>
                        <li>
                            ● <span class="font-weight-bold">Distribución de resultados fiscales:</span> las FIBRAs
                            inmobiliarias están obligadas a distribuir al menos el 95 % de su resultado fiscal al menos
                            una vez al año. Esto significa que los inversionistas pueden recibir distribuciones de
                            efectivo de manera regular.
                        </li>
                        <li>
                            ● <span class="font-weight-bold">Límite en la venta de propiedades:</span> las propiedades
                            adquiridas por una FIBRA no pueden ser vendidas durante al menos cuatro años después de su
                            adquisición o término de construcción. En caso contrario, deberán pagar el impuesto sobre la
                            renta en la ganancia de la propiedad.
                        </li>
                    </ul>
                    <h2>
                        Ventajas de las FIBRAs inmobiliarias sobre la inversión directa
                    </h2>
                    <p>
                        La inversión directa en bienes raíces puede ser atractiva para muchos inversionistas, pero
                        también conlleva ciertos riesgos y desafíos.
                    </p>
                    <p>
                        Las FIBRAs inmobiliarias ofrecen varias ventajas clave, lo que las convierte en una opción
                        atractiva para aquellos que desean participar en el mercado inmobiliario de manera más accesible
                        y rentable. Exploremos algunas de estas ventajas:
                    </p>
                    <h3>
                        Exención de impuestos
                    </h3>
                    <p>
                        Una de las ventajas más destacadas de las FIBRAs inmobiliarias es la exención de impuestos en
                        comparación con la inversión directa en inmuebles. Al adquirir Certificados Bursátiles
                        Fiduciarios Inmobiliarios (CBFIs), los inversionistas no pagan Impuesto en la apreciación de
                        capital (vender un CBFI por encima del precio al que lo adquirieron), ni en las distribuciones
                        de efectivo que sean catalogadas como “Reembolso de Capital”.
                    </p>
                    <h3>
                        Diversificación de riesgos
                    </h3>
                    <p>
                        La inversión directa en un solo inmueble puede ser arriesgada, puesto que cualquier
                        contratiempo, como la vacancia prolongada o el requerimiento de alguna inversión adicional,
                        puede afectar significativamente los rendimientos. En cambio, las FIBRAs permiten la
                        diversificación en términos de tipos de inmuebles, ubicaciones y número de inquilinos.
                    </p>
                    <p>
                        Al invertir en una cartera diversificada de propiedades, los riesgos se distribuyen y se reduce
                        la exposición a eventos adversos individuales. Además, la diversificación también brinda la
                        oportunidad de beneficiarse de diferentes sectores del mercado inmobiliario y de múltiples
                        compañías con distintos giros económicos (estas pueden ser automotriz, de bienes de consumo,
                        tecnológicas, bancarias, etc.).
                    </p>
                    <h3>
                        Liquidez
                    </h3>
                    <p>
                        Otra ventaja importante de las FIBRAs inmobiliarias es la liquidez que ofrecen. A diferencia de
                        la inversión directa en inmuebles, que puede requerir meses o incluso años para vender una
                        propiedad en el mercado inmobiliario, las FIBRAs brindan a los inversionistas la posibilidad de
                        vender sus Certificados Bursátiles Fiduciarios Inmobiliarios de manera inmediata en la Bolsa de
                        Valores.
                    </p>
                    <p>
                        Lo anterior, brinda flexibilidad y acceso a los fondos invertidos, lo que puede ser
                        especialmente beneficioso en situaciones donde se requiere capital rápidamente.
                    </p>
                    <p>
                        La administración de un inmueble de forma directa puede ser una tarea demandante y costosa. Los
                        propietarios deben encargarse de la gestión de los inquilinos, el mantenimiento, la recaudación
                        de rentas y otros aspectos operativos. En contraste, las FIBRAs inmobiliarias son administradas
                        por profesionales con amplia experiencia.
                    </p>
                    <p>
                        Estos expertos se encargan de la gestión diaria de las propiedades, asegurándose de maximizar
                        los rendimientos y mantener los inmuebles en condiciones atractivas para el arrendamiento.
                    </p>
                    <h2>
                        Modelo inspirado en el Real Estate Investment Trust (REIT) de EEUU
                    </h2>
                    <p>
                        Las FIBRAs inmobiliarias en México se han inspirado en el exitoso modelo del <b> <i>Real Estate
                        Investment Trust</i> (REIT) </b> de Estados Unidos, que ha demostrado ser una forma eficiente y
                        exitosa
                        de invertir en bienes raíces. Este modelo se ha adaptado y adoptado en el mercado inmobiliario
                        mexicano, brindando a los inversionistas una forma accesible y rentable de participar en el
                        sector.
                    </p>
                    <p>
                        Asimismo, las FIBRAs operan bajo una estructura legal y regulatoria específica, al igual que los
                        REITs en Estados Unidos. En México, la Ley del Mercado de Valores y la Ley del Impuesto sobre la
                        Renta son los marcos legales que rigen el funcionamiento de las FIBRAs.
                    </p>
                    <p>
                        Uno de los aspectos clave del modelo de los REITs que se ha adoptado en las FIBRAs inmobiliarias
                        es la generación de ingresos a través del arrendamiento de propiedades. Al igual que los REITs,
                        las FIBRAs se centran en adquirir inmuebles destinados al arrendamiento y generan ingresos a
                        través de los contratos de arrendamiento con sus inquilinos.
                    </p>
                    <p>
                        Los ingresos generados por el arrendamiento se distribuyen a los inversionistas en forma de
                        distribuciones de efectivo.
                    </p>
                    <h2>
                        Descubre las oportunidades de inversión inmobiliaria con Fibra Mty
                    </h2>
                    <p>
                        En Fibra Mty nos enorgullece ofrecer a los inversionistas una oportunidad única en el sector
                        inmobiliario. Nuestro objetivo es adquirir y gestionar un portafolio de propiedades corporativas
                        de alta calidad. Buscamos cambiar la forma en que se percibe la rentabilidad en el mercado
                        inmobiliario, a través de un modelo de negocios claro y consistente.
                    </p>
                    <p>
                        Gracias a las FIBRAS inmobiliarias, fomentamos inversiones a largo plazo con beneficios
                        tangibles, y trabajamos para lograr el éxito de nuestros inversionistas de manera responsable y
                        sostenible, al tiempo que contribuimos al bienestar de nuestra sociedad y medio ambiente.
                    </p>
                    <p>
                        Desde nuestra creación en 2014, hemos brindado confianza y solidez a nuestros inversionistas,
                        mediante la implementación de estrategias operativas y financieras coherentes que generan
                        resultados sostenibles a largo plazo.
                    </p>
                    <p>
                        Conoce más sobre <a href="https://www.fibramty.com/" target="_blank"> Fibra Mty </a> en nuestras
                        páginas de
                        <a href="https://twitter.com/fibra_mty" target="_blank"> Twitter</a>,
                        <a href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos" target="_blank">
                            YouTube</a> y
                        <a href="https://www.linkedin.com/company/fibramty" target="_blank"> LinkedIn</a>
                    </p>
                    <p>
                        Encontrarás contenido exclusivo, noticias relevantes y actualizaciones sobre nuestras
                        propiedades y proyectos más ambiciosos.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
