{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        {#                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>#}
                        <p>abril del 2023</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/23_abril/1-56.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>
                        Las FIBRAs en México no dejan de crecer y esto se ve muy claramente en el rubro industrial. Se
                        trata de una actividad derivada por el <i>nearshoring</i> que ha generado el interés de Fibra
                        Mty por
                        adquirir la adquisición de estos portafolios de inversión.
                    </p>
                    <p>
                        En el siguiente artículo, observaremos más detalladamente por qué estos portafolios son de gran
                        interés en estos días. Además, explicaremos cuál es el área bruta rentable y la cantidad de
                        edificios con los que cuenta esta inversión. ¡Sigue deslizando para enterarte de todos los
                        detalles que necesitas para realizar una inversión segura!
                    </p>
                    <p>
                        <a href="https://www.fibramty.com/articulo/diferencias-entre-los-reits-y-las-fibras-en-mexico">
                            ¡Descubre las diferencias entre los REITs y nuestros instrumentos!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2>
                        FIBRAs en México: ¡este es el nuevo portafolio de Fibra Mty!
                    </h2>
                    <p>
                        Durante los últimos meses, aquellos inversionistas interesados en las FIBRAs, y particularmente
                        en Fibra Mty, han estado muy ocupados analizando la información que se presenta en el mercado.
                        Luego de realizar una inversión de 662 millones de dólares, Fibra Mty logró concluir la
                        adquisición de la segunda transacción de bienes raíces industriales en los últimos años.
                    </p>
                    <p>
                        Esto quiere decir que a partir de ahora los inversionistas de Fibra Mty podrán acceder a
                        ingresos aún más confiables al tener mayor exposición al sector industrial, un rubro que está en
                        constante crecimiento gracias a los efectos del COVID-19 y sus efectos en la cadena de
                        suministro.
                    </p>
                    <h2>
                        Características del portafolio
                    </h2>
                    <p>
                        Este portafolio denominado “Zeus” contiene aproximadamente 46 edificios industriales y es un
                        gran proyecto para quienes sepan aprovechar el momento del sector en la actualidad.
                    </p>
                    <p>
                        Además, el portafolio tiene presencia en alrededor de 12 mercados en todo México, incrementando
                        la diversificación de Fibra Mty. Por otro lado, presenta un área bruta rentable de 823 mil
                        metros cuadrados, esto significa que en una sola transacción, el Fideicomiso duplicó su tamaño.
                        Al cerrar la transacción, Fibra Mty comunicó que la compra de este portafolio fue liquidada
                        mediante efectivo, líneas de crédito y capital.
                    </p>
                    <h2>
                        Detalles a tener en cuenta para aprovechar estas FIBRAs en México
                    </h2>
                    <p>
                        Para que Fibra Mty pudiera realizar esta adquisición, varias instituciones regulatorias tuvieron
                        que aprobar el proceso. Por ejemplo, el portafolio quedó sujeto a la aprobación de la Asamblea
                        de Tenedores de la empresa, quienes pudieron emitir su voto respecto de esta transacción.
                    </p>
                    <p>
                        Por otro lado, la Comisión Federal de Competencia Económica (COFECE) también se involucró en el
                        asunto. Dicha institución realizó una auditoría sobre la compra y la negociación formal que se
                        llevó a cabo. Por último, como la compra también involucró una emisión de capital, la Comisión
                        Nacional Bancaria y de Valores (CNBV) revisó la documentación que le competía.
                    </p>
                    <h2>
                        ¿Por qué es un buen momento para las FIBRAs en México?
                    </h2>
                    <p>
                        En los últimos años, las FIBRAs han mostrado mucha actividad en el mercado. Gracias a la
                        increíble influencia de sus proyectos y la confianza que se han ganado entre los inversionistas,
                        se han convertido en el instrumento de inversión preferido de muchas personas.
                    </p>
                    <p>
                        Uno de los beneficios clave en este apetito por parte del público inversionista es que las
                        FIBRAs pueden actualizar sus ingresos con la inflación, por lo cual el impacto del aumento de
                        las tasas de interés por parte de las entidades financieras no necesariamente afecta su
                        desempeño.
                    </p>
                    <p>
                        Por otro lado, algunas de las FIBRAs supieron enfocarse en mercados que se han recuperado luego
                        de la inactividad de la pandemia. Uno de ellos ha sido el industrial, el cual a nivel mundial
                        mostró fragilidad en sus cadenas de suministro, poniendo en riesgo la efectividad de la
                        globalización.
                    </p>
                    <h2>
                        ¿Por qué esta es la era de las FIBRAs industriales?
                    </h2>
                    <p>
                        Cuando hablamos de nearshoring nos referimos a una práctica que es muy beneficiosa para las
                        FIBRAs en México. Se trata de la reconfiguración de las cadenas de suministro a ubicaciones más
                        cercanas a las de los clientes finales.
                    </p>
                    <p>
                        Gracias al <i>nearshoring</i>, los tiempos de entrega son mucho más eficientes en los mercados
                        internacionales. Esto es así porque se reducen costos de envío y hasta se puede ahorrar en mano
                        de obra, si es que las condiciones económicas lo permiten.
                    </p>
                    <p>
                        Lógicamente, esto robustece a las FIBRAs en México ubicadas en el sector industrial, ya que el
                        <i>nearshoring </i>ha generado una mayor demanda en espacio disponible, de tal forma que incluso
                        ha
                        requerido de más desarrollo de este tipo de inmuebles. Con sus múltiples tratados de libre
                        comercio, mano de obra calificada y por su acceso a múltiples mercados por varias vías de
                        transporte, México tiene una posición favorable para aprovechar esta coyuntura.
                    </p>
                    <p>
                        Por otro lado, no hay que olvidar que ante el crecimiento de los enfrentamientos bélicos en
                        varias regiones de Europa, los países centrales buscarán reposicionar sus cadenas productivas.
                        Para la actividad económica de Estados Unidos o Canadá, por ejemplo, nuestro país podría ser de
                        gran ayuda.
                    </p>
                    <h2>
                        Confía en la experiencia de Fibra Mty
                    </h2>
                    <p>
                        Somos grandes administradores de FIBRAs en México y tenemos una amplia experiencia en la
                        operación y administración de portafolios de propiedades. Nuestro equipo analiza cada
                        transacción con la intención de ofrecer las mejores condiciones de inversión para quienes le
                        confían su capital. Además, destacamos en el mercado por operar de manera transparente y
                        honesta, algo que implica un alto reconocimiento en el sector.
                    </p>
                    <p>
                        Fibra Mty ha sido mencionada como un vehículo de inversión que trabaja con pasión y en beneficio
                        para los inversionistas del país.
                    </p>
                    <p>
                        Conoce más acerca de nosotros y de los distintos movimientos del mundo inmobiliario a través de
                        <a href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos" target="_blank">
                            YouTube</a> y
                        <a href="https://www.linkedin.com/company/fibramty" target="_blank"> LinkedIn</a>
                        ¡Invierte en nuestras FIBRAs en México!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
