{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        {#                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>#}
                        <p>abril del 2023</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/23_abril/3-58.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>
                        ¿Quieres iniciarte en la inversión en bienes raíces? Entonces es fundamental que conozcas qué
                        son los CBFIs y cuál es su relación con las FIBRAs. Entérate de dónde consultar los precios de
                        cada CBFI, la garantía de seguridad que brindan y cuán accesibles son.
                    </p>
                    <p>
                        ¡Es momento de iniciarte en el mundo de los bienes raíces y hacer crecer tu dinero! En Fibra Mty
                        tenemos CBFIs con características iguales para todos los inversionistas que, además, te hacen
                        merecedor de percibir rentas de forma constante. ¿No sabes en qué invertir ese dinero extra?
                        ¡Hazlo en un portafolio de propiedades de alta calidad a lo largo de la república mexicana!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <p>
                        En comparación con otros instrumentos de inversión, las FIBRAs ofrecen un rendimiento atractivo
                        para tu patrimonio. Compruébalo entrando a nuestra
                        <a href="https://www.fibramty.com/">calculadora de inversiones</a> y descubre cómo
                        Fibra Mty es quien brinda mayor solidez. ¡No esperes más para ir construyendo tu futuro!
                    </p>
                    <h2>
                        Conoce más sobre los certificados bursátiles fiduciarios inmobiliarios
                    </h2>
                    <p>
                        Los certificados bursátiles fiduciarios inmobiliarios (CBFIs) son títulos accionarios que
                        identifican a una persona como dueña de una parte determinada de una FIBRA. En este sentido,
                        cuando la FIBRA sube de valor, el CBFI de cada accionista sube de valor. Además, ser dueño de un
                        CBFI (o varios) hace a los inversionistas de una FIBRA merecedores de recibir efectivo
                        constantemente como producto de las rentas de las propiedades.
                    </p>
                    <h3>
                        ¿Dónde se cotizan y cuál es su precio?
                    </h3>
                    <p>
                        Es importante mencionar que tales certificados se cotizan en las bolsas de valores, siendo la
                        Bolsa Mexicana de Valores la más conocida en México. El valor de los certificados depende de
                        varios factores relacionados con su oferta y demanda. Entre algunos de los elementos que
                        influyen en el precio de un CBFI se encuentran i) las expectativas de crecimiento, ii) la
                        rentabilidad actual del Fideicomiso, iii) el sector al que pertenecen las propiedades de la
                        FIBRA y iv) la competencia a la que dicha FIBRA se enfrenta.
                    </p>
                    <p>
                        Otros datos relevantes que toma en cuenta un CBFI para estipular su precio tiene que ver con el
                        contexto nacional e internacional en el que se encuentre. Este contexto está relacionado tanto
                        con aspectos económicos como de desarrollo, innovación, tecnología, política, así como con
                        acontecimientos naturales y sanitarios.
                    </p>
                    <p>
                        Las FIBRAs públicas cotizan abiertamente al mercado, lo que genera la ventaja de que el precio
                        de sus CBFIs son visibles al público. Así que, si deseas conocer el precio de cualquier
                        certificado emitido por la FIBRA de tu interés, puedes revisarlo directamente en Internet, en la
                        página de tu casa de bolsa de preferencia, o bien, directamente con un asesor de inversiones.
                    </p>
                    <p>
                        Si estás pensando en comprar más CBFIs o vender los que ya tienes, no esperes más para
                        favorecerte de todo el movimiento que se produce en el mercado de valores. En Fibra Mty hemos
                        platicado en varios foros el beneficio de utilizar el interés compuesto para utilizar las
                        distribuciones de efectivo para adquirir más CBFIs. De esta forma obtendrás más ganancias a
                        largo plazo. Aun con esto, si tu decisión es venderlos, puedes hacerlo en cualquier momento,
                        pues no hay un período mínimo de inversión.
                    </p>
                    <h3>
                        ¿Cuáles aspectos de seguridad ofrecen?
                    </h3>
                    <p>
                        Los CBFIs están resguardados por la Institución para el Depósito de Valores (INDEVAL). Esta
                        organización privada se enfoca en la guarda, depósito, préstamo, traspaso, compensación y
                        liquidación de valores. Asimismo, esta empresa está regulada por la Secretaría de Hacienda y
                        Crédito Público.
                    </p>
                    <p>
                        Respecto a Fibra Mty, son varias las instituciones que ofrecen una cobertura de análisis para
                        sus CBFI. Entre los más relevantes están BBVA, Citi, Intercam, Monex, Grupo Financiero Actinver,
                        Apalache Análisis, Bancomer, BTG Pactual, y Signum Research.
                    </p>
                    <p>
                        Te puede interesar leer:
                        <a href="{% url 'noticia_36' %}">
                            ¿Por qué Fibra Mty es tu aliado ideal para Invertir en FIBRAS? | Finn
                        </a>
                    </p>
                    <h2>
                        Características de los CBFIs de Fibra Mty
                    </h2>
                    <p>
                        Ahora que ya tienes claro qué son los CBFIs, entérate de cuáles son las características
                        principales que ofrecen los certificados bursátiles de Fibra Mty. ¡Aquí descubrirás por qué la
                        inversión en bienes raíces es una buena opción para alcanzar tus planes a futuro!
                    </p>
                    <p>
                        Comencemos por decir que este Fideicomiso tiene denominados sus CBFIs en pesos mexicanos y que
                        están abiertos a todo público. Ya sea mexicana o extranjera, cualquier persona tiene la
                        oportunidad de convertirse en inversionista de Fibra Mty, teniendo derecho a emitir y adquirir
                        los CBFI que deseé. El único requerimiento que pide Fibra Mty a la persona extranjera es que
                        tenga un contrato de inversión en bienes raíces con alguna entidad autorizada en México.
                    </p>
                    <p>
                        Otras características importantes de mencionar es que dichos certificados no son amortizables,
                        es decir, que su valor no deprecia con el tiempo. Además, realiza distribuciones de efectivo
                        periódicamente y no tienen una expresión de valor nominal.
                    </p>
                    <p>
                        Como Fideicomiso público, Fibra Mty cotiza en la Bolsa Mexicana de Valores, lo que, sin duda, es
                        de gran importancia y valor respecto a la seguridad que ofrece al inversionista. Esto, además,
                        significa que comparte los precios de sus CBFI al público. ¡Con Fibra Mty obtendrás la mejor
                        inversión en bienes raíces!
                    </p>
                    <h2>
                        ¡Sé nuestro nuevo inversionista en Fibra Mty!
                    </h2>
                    <p>
                        Fibra Mty cuenta con aproximadamente 60 propiedades distribuidas en un área bruta rentable de
                        818,864 m<sup>2</sup> . Sus inmuebles pertenecen a diferentes rubros, entre los que sobresalen
                        los sectores
                        industrial y de oficinas.
                    </p>
                    <p>
                        Se trata de una empresa con amplia experiencia en la inversión en bienes raíces. Destaca, entre
                        otras cosas, por sus estrategias de negocio orientadas a la sustentabilidad. Como ejemplo, desde
                        2019 ha implementado su estrategia ASG, enfocada en aspectos ambientales, de gobernanza y
                        sociales.
                    </p>
                    <p>
                        De esta forma, logra mayor alcance en sus actividades, pues la mejora continua en su desempeño y
                        la mitigación del impacto ambiental de sus activos son dos razones atractivas para invertir en
                        sus inmuebles.
                    </p>

                    <p>
                        ¡Atrévete a mejorar tu economía gracias a la inversión en bienes raíces! Asegura con nosotros un
                        retorno de inversión rápido y constante para que obtengas mensualmente los resultados que
                        esperas. Conoce más sobre nuestras actividades más recientes en
                        <a href="https://twitter.com/fibra_mty" target="_blank"> Twitter</a>,
                        <a href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos" target="_blank">
                            YouTube.</a> y
                        <a href="https://www.linkedin.com/company/fibramty" target="_blank"> LinkedIn</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
