{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <section class="s-block">
        <div class="container-fluid container-relative">
            <div class="row m-0">
                <div class="col-md-12">
                    <p>El Auditor Externo deberá ser un despacho de contadores públicos independiente elegido por el
                        Administrador
                        de Fibra MTY, que a su vez sea aprobado por el Comité de Auditoría.</p>

                    <p>Al 31 de diciembre de 2019, nuestro Auditor Externo es Galaz, Yamazaki, Ruiz Urquiza, S.C.,
                        miembro de
                        Deloitte Touche Tohmatsu Limited; quien no ha emitido alguna opinión con salvedad, ni negativa,
                        así como
                        tampoco se han abstenido de emitir opinión acerca de los estados financieros de Fibra MTY. </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}