{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <section class="s-block">
        <div class="container-fluid container-relative">
            <div class="row m-0">
                <div class="col-md-12">
                    <p>Fibra MTY otorga un plan de compensación basado en CBFIs dirigido a los ejecutivos clave del
                        Administrador
                        y al Presidente del Comité Técnico, con la finalidad de mantener una adecuada alineación de los
                        intereses de
                        dichos funcionarios con los de los tenedores de CBFIs, a través de incentivos que recompensen
                        justamente el
                        buen desempeño de sus funciones y entrega de resultados. El plan ejecutivo basado en CBFIs es
                        pagadero en
                        patrimonio. El valor del plan de incentivos se revisa y se paga de forma anual, y tiene un valor
                        máximo de
                        hasta el 0.75% del valor de capitalización del Fideicomiso. </p>

                    <p>El valor del Plan de Incentivos se determina de acuerdo a una medición que considera las
                        siguientes
                        ponderaciones: </p>

                    <ul class="ls-disc">
                        <li><p>Rendimiento del Fideicomiso/CBFI con un peso de 60% de la medición </p></li>
                        <li><p>Condición de Mercado (utilizando como referencia el indicador BMV Fibras RT) con un peso
                            de 40% de la
                            medición</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}