{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        {#                        <div class="alt-font text-fast-blue text-uppercase font-weight-500 margin-30px-bottom xs-margin-10px-bottom">#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Inversiones</a><span class="margin-10px-lr">&#8226;</span>#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Fibras</a><span class="margin-10px-lr">&#8226;</span>#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Finn</a>#}
                        {#                        </div>#}
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava <br>
                            <p>25 de Septiembre del 2019</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="FIBRA-un-nuevo-modelo-de-Inversion-en-Bienes-Raices"
                         src="{% static 'images/post/FIBRA-un-nuevo-modelo-de-Inversion-en-Bienes-Raices.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>En México, los proyectos de <strong>inversión en bienes raíces</strong> representan una gran
                        oportunidad para
                        hacer crecer nuestro dinero de una manera más segura. Esto se debe a que son una alternativa de
                        inversión que ofrece menos riesgos y una diversificación estable para un crecimiento financiero
                        saludable en comparación con inversiones comparables.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2 class="alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">
                        ¿Estás listo para una inversión en bienes raíces? </h2>
                    <p>Para entender mejor el contexto sobre el cual se mueve cualquier <strong>inversión en bienes
                        raíces</strong> es necesario conocer el objeto de negocio de esta estrategia financiera. </p>
                    <p>Cuando hablamos de bienes raíces nos referimos a aquellos bienes inmuebles como edificios de
                        oficinas, naves industriales, etcétera.</p>
                    <p>Algunas de las formas convencionales para invertir nuestro dinero mediante bienes raíces son la
                        compraventa y el arrendamiento (comprar una propiedad y rentarla para obtener un rendimiento).
                        Sin embargo, esto implica que debemos ocupar parte de nuestro tiempo e ingresos en los procesos
                        administrativos y de operación. Por nombrar algunos de los gastos típicos para realizar
                        inversiones en propiedades de manera convencional están los honorarios legales y notariales, así
                        como los avalúos para llevar a cabo las transacciones. Una vez teniendo la propiedad, el dueño
                        es el encargado de llevar a cabo el mantenimiento, pagar el predial, seguro y realizar las
                        adecuaciones necesarias para la renta.</p>
                    <p>Entendiendo esto, existe un modelo de <strong>inversión en bienes raíces</strong> que ofrece un
                        rendimiento más
                        atractivo frente a otros instrumentos financieros, no requiere de una gran inversión de capital,
                        y tiene múltiples bondades en beneficio al inversionista para facilitar y mejorar la calidad de
                        su inversión.</p>
                    <p>Hablamos de las FIBRAs (Fideicomisos de <strong>Inversión en Bienes Raíces</strong>), las cuales
                        permiten a los
                        inversionistas participar en la adquisición de bienes inmuebles con el fin de obtener ganancias
                        por la renta y plusvalía de los mismos. </p>
                    <p>Dentro de las principales bondades se encuentran: una salida flexible (puedes comprar y vender de
                        manera ágil); un equipo experimentado y profesional que administra directamente las propiedades;
                        e información transparente (hay reportes operativos y financieros de manera trimestral) y con
                        precios a la vista.</p>
                    <p>Con ello, se abre un nuevo campo de oportunidad con una inversión de menor riesgo y con la
                        posibilidad de diversificar nuestro portafolio de inversiones. </p>
                    <h2 class="alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">FIBRA MTY</h2>
                    <p>Fibra Mty es una institución especializada en adquirir y administrar un portafolio de inmuebles
                        corporativos de alta calidad en México. Gracias a su esquema de administración interna, ha
                        eliminado el sistema por comisiones, lo que se traduce en un rendimiento mayor para los
                        inversionistas. </p>
                    <p>FIBRA es una forma de manejar el dinero responsablemente y obtener al mismo tiempo un retorno de
                        inversión atractivo. </p>
                    <p>¡Invertir en bienes raíces nunca fue tan sencillo! </p>
                    <p>¿Cómo invertir en Finn? <a href="{% url 'escuela-fibra-finn' %}#como-invertir">¡Clic
                        aquí!</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
