{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>
                            <p>17 de Julio del 2021</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/julio/06.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>La pandemia por COVID-19 provocó que oficinas, centros comerciales, hoteles y otros inmuebles se
                        vaciaran abruptamente. Esto dejó afectaciones en la economía, y sobre todo en las inversiones.
                        No obstante, las FIBRAs inmobiliarias han tenido una recuperación lenta pero positiva en los
                        últimos meses.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2>¿Dónde están las FIBRAs inmobiliarias actualmente?</h2>
                    <p>Durante el 2020, las FIBRAs inmobiliarias sufrieron un fuerte golpe en distintos sectores a causa
                        de la pandemia. El sector más golpeado fue el hotelero, que vio reducida su capacidad de
                        ocupación a menos de 1 tercera parte en distintas zonas del país. </p>
                    <p>Por su parte, el sector comercial también resintió el cierre de actividades no esenciales. Lo
                        mismo que con los edificios de oficinas corporativas, los cuales enfrentan una situación
                        particular con el advenimiento de la modalidad de trabajo remoto “home office”.</p>
                    <p>No obstante, no todo fue negativo para los fideicomisos, ya que los cambios de actividades y la
                        adaptación de la población hacia nuevos hábitos de consumo generó nuevas oportunidades de
                        negocio.</p>
                    <p>Un ejemplo claro sucedió con el sector comercial, que vio un incremento en la demanda de
                        inmuebles dedicados al almacenamiento y distribución. Todo esto motivado por el e-commerce. </p>
                    <p>A su vez, ya en la primera mitad del 2021, restaurantes, centros comerciales, cines y otros
                        establecimientos dedicados al comercio comenzaron a ver un alza en su actividad económica debido
                        al cambio de semáforo. </p>
                    <p>Esta reactivación económica y la reapertura comercial en diferentes sectores vaticina una mejora
                        secuencial en los resultados de las FIBRAs inmobiliarias respecto al 2020.</p>
                    <h2>Frente a otros sectores de inversión</h2>
                    <p>El nuevo enfoque de inversión que trajo consigo la pandemia apunta hacia los sectores que se han
                        visto beneficiados por la nueva normalidad. En este sentido, el sector tecnológico, las
                        <a href="https://s2g.energy/es/que-son-las-inversiones-esg/" target="_blank">inversiones ESG</a>, y las compañías de productos básicos de consumo ofrecen un campo aprovechable a
                        nivel de renta variable. </p>
                    <p>Las estrategias en este tipo de inversiones siguen llamando la atención de los inversionistas.
                        Sin embargo, la expectativa en las FIBRAs inmobiliarias también se mantiene con un buen
                        panorama, sobre todo para compañías como Fibra Mty que generan sus ingresos mayormente en
                        dólares, defendiendo la inversión ante cualquier devaluación de la moneda. </p>
                    <p>Por otro lado, ante un periodo inflacionario hacia adelante, las FIBRAs que actualizan sus rentas
                        de acuerdo a dicho indicador, como es el caso de Fibra Mty, generarán más rendimientos
                        provenientes de sus ingresos, generando predictibilidad en el flujo de efectivo y, por ende, en
                        sus distribuciones de efectivo.</p>
                    <h2>Nuevas oportunidades</h2>
                    <p>Un movimiento innovador dentro de las nuevas tendencias, son las FIBRAs inmobiliarias
                        especializadas en oficinas y naves industriales y comerciales que están apostando por la
                        incorporación de nuevas tecnologías. </p>
                    <p>La transformación hacia edificios inteligentes mediante el Big Data, el Internet de las Cosas y
                        la sustentabilidad abre una brecha importante para seguir impulsando este sector. </p>
                    <p>A su vez, diferentes FIBRAs, entre las que destaca Fibra MTY, han apostado por adquirir nuevas
                        propiedades. Esto con el fin de fortalecer y diversificar todavía más sus portafolios y ofrecer
                        inversiones rentables, sólidas y confiables en bienes raíces. </p>
                    <p>En conclusión, para los inversionistas que buscan un instrumento de inversión que se mantenga
                        defensivo durante épocas de incertidumbre y con altas probabilidades de ganancias vía renta
                        variable, las FIBRAs inmobiliarias son una opción rentable.</p>
                    <p>¿Quieres saber cómo Fibra MTY te ofrece un respaldo tangible y concreto en tu inversión? ¡Ingresa
                        a nuestro <a href="{% url 'index' %}">sitio web</a>!</p>
                    <p>O bien, síguenos en <a href="https://twitter.com/fibra_mty" target="_blank">Twitter</a> – <a
                            target="_blank" href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos">YouTube</a>
                        – <a target="_blank" href="https://www.linkedin.com/company/fibramty">LinkedIn</a> para estar al
                        tanto de lo que sucede con las
                        FIBRAs.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
