{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>
                            <p>5 de septiembre del 2021</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/septiembre/2.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p> Obtener dividendos en bienes raíces nunca fue tan sencillo como lo es ahora con la llegada de
                        las FIBRAs inmobiliarias. Este modelo de inversión permite a los inversionistas obtener rédito
                        mediante inversiones pequeñas y de bajo riesgo.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <p>A esto se le conoce como democratización de las inversiones y ofrece la posibilidad de <a
                            href="{% url 'noticia_38' %}">invertir
                        en el sector inmobiliario</a> sin necesidad de arriesgar altas sumas de dinero. De hecho, este
                        modelo se ha posicionado como un mecanismo seguro de inversión, ya que, en general, es una
                        estrategia con riesgo de pérdida bastante bajo en comparación con instrumentos similares. </p>
                    <p>Continúa leyendo y conoce por qué invertir en el sector inmobiliario con Fibra MTY es tu mejor
                        opción. </p>
                    <h2>Invertir en Bienes Raíces sin comprar propiedades</h2>
                    <p>El modelo de FIBRAs en México permite obtener dividendos en bienes raíces a través de la compra
                        de una propiedad destinada para la renta en diferentes sectores. </p>
                    <p>Es decir, cualquier persona puede obtener ganancias, según el monto de su inversión, sin tener la
                        obligación de comprar, gestionar y declarar sobre éstas. Gracias a esto es posible realizar una
                        inversión en bienes raíces de manera colectiva y asequible. </p>
                    <h2>Dividendos en Bienes Raíces con Fibra MTY </h2>
                    <p>Uno de los grandes beneficios de invertir en FIBRAs es poder obtener dividendos en bienes raíces
                        constantes y predecibles, y lo mejor, sin necesidad de tener e invertir grandes cantidades de
                        dinero. </p>
                    <p>Específicamente, la inversión con <a href="{% url 'index' %}">Fibra MTY</a> está basada en
                        diferentes herramientas que aseguran
                        su estabilidad y rentabilidad. </p>
                    <p>¡Conoce cuáles son nuestras principales estrategias!</p>
                    <h2>Portafolio diversificado y de alta calidad </h2>
                    <p>Nuestro <a href="{% url 'propiedades' %}">portafolio</a>, amplio y distribuido en diferentes
                        sectores económicos, nos permite otorgar
                        un rendimiento a corto plazo gracias a la renta de cada una de nuestras propiedades. </p>
                    <p>Con nuestros clientes firmamos contratos de arrendamiento a largo plazo y mayormente dolarizados
                        para proveer una mayor estabilidad en cuanto a los dividendos en bienes raíces proyectados. </p>
                    <p>Por medio de nuestras constantes adecuaciones y ajustes, mantenemos cada una de las propiedades a
                        la vanguardia de las tendencias estructurales y de diseño necesarias para cada uno de los
                        sectores. Es así como convertimos nuestro portafolio en una herramienta competitiva dentro del
                        mercado. </p>
                    <h2>Mirada hacia el futuro </h2>
                    <p>Cada adquisición que hacemos en <a href="{% url 'index' %}">Fibra MTY</a> se basa en factores
                        determinantes como la ubicación,
                        tipo de propiedad y condición estructural de cada inmueble. De esta manera obtenemos un
                        equilibrio entre los diferentes sectores y posibilidades de arrendamiento. </p>
                    <p>Ninguna de nuestras propiedades es catalogada como especulativa, por lo que obtenemos
                        rendimientos constantes a partir de rentas estabilizadas. </p>
                    <h2>Capital seguro y balanceado </h2>
                    <p>En Fibra MTY hemos establecido lineamientos muy claros para la toma de decisiones. Por esto,
                        contamos con una estrategia clara y definida en cuanto a fuentes de financiamiento y usos de
                        capital. Entre las más importantes tenemos: </p>
                    <ul>
                        <li>● Nivel prudente de endeudamiento</li>
                        <li>● Líneas de crédito disponibles en caso de ser necesarias.</li>
                        <li>● Monto moderado de efectivo disponible en caja.</li>
                    </ul>
                    <p>Con Fibra MTY podrás invertir en <a href="{% url 'propiedades' %}">diferentes propiedades</a>
                        justo en el momento que desees, aún si no
                        tienes experiencia en el mercado y sin tener que adquirir propiedades costosas a tu nombre. </p>
                    <p>¿Quieres saber cómo hacerlo? Ingresa a Fibra MTY y conoce por qué somos la mejor opción para
                        invertir en FIBRAs en México. </p>
                    <p>No olvides seguirnos en <a href="https://twitter.com/fibra_mty"
                                                  target="_blank">Twitter</a>, <a
                            target="_blank" href="https://www.youtube.com/channel/UCPxJkA3IWjwwIs0lf_tZ_bg/videos">YouTube</a>
                        y <a target="_blank"
                             href="https://www.linkedin.com/company/fibramty">LinkedIn</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
