{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>
                            <p>1 de octubre del 2021</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/octubre/1.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>El fin de año es una época de balances y proyecciones para el año entrante. Con la recuperación
                        económica avanzando, hay instrumentos de inversión que se posicionan como opciones sólidas para
                        el año que viene.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <p>Hablando de índices y parámetros, debemos tener en cuenta que 2021 fue un año de tasas bajas y de
                        buen acceso a créditos baratos, algo que aparenta comenzar a disolverse durante el próximo año.
                        La inflación derivada de políticas expansivas y las problemáticas en las cadenas de suministro
                        está obligando a los bancos centrales a elevar las tasas, y México no será la excepción.</p>
                    <p>Esto es para graficar cómo el panorama financiero se va reacomodando luego de dos años
                        tumultuosos por la pandemia. En este contexto, es oportuno empezar a buscar inversiones que nos
                        permitan aumentar nuestra riqueza y proteger el patrimonio que hemos construido hasta ahora.</p>
                    <h2>Commodities</h2>
                    <p>Una de los instrumentos de inversión con mejor proyección pueden ser las “commodities”. Aunque
                        todas en general tienen un perfil más bien fluctuante, hay algunas mercancías que han cobrado
                        especial relevancia en los últimos años. Hablamos de las alimenticias y de otras ligadas a la
                        industria energética y, especialmente, a las energías renovables como el litio y el cobalto.</p>
                    <p>Ambos metales son utilizados en la elaboración de baterías eléctricas teniendo el <a
                            href="https://expansion.mx/empresas/2021/10/01/que-es-para-que-sirve-litio" target="_blank">litio</a>
                        mejor
                        elegibilidad en vehículos eléctricos debido a que no tiende a autocalentarse. </p>
                    <p>Por su parte, el petróleo vivió su peor caída justo antes del COVID-19 y luego repuntó por
                        restricciones en su logística y la alta demanda. Pero es posible que esto tenga más que ver con
                        el contexto pandémico. Lo esperable es que a largo plazo se vaya acomodando a la baja.</p>
                    <h2>Acciones de empresas duraderas</h2>
                    <p>Entre las acciones de empresas podemos encontrar algunas pertenecientes a las compañías más
                        prolíficas de los últimos años, sobre todo, en rubros como el e-commerce, logística y nuevas
                        tecnologías. </p>
                    <p>Pero lo más importante para identificar instrumentos de inversión adecuados de cara al futuro es
                        verificar cuáles empresas lograron mantener buenas posiciones en esta nueva etapa de
                        recuperación. Es decir que las subidas fuertes que experimentaron no hayan sido simplemente
                        consecuencias circunstanciales del cierre sanitario. </p>
                    <p>También podemos encontrar otras acciones como las de compañías de comercio minorista, las cuales
                        ahora mismo están teniendo incrementos gracias a la creciente actividad.</p>
                    <p>Es preciso recordar que, como las commodities, las acciones de empresas tienen ciclos y no suelen
                        ser muy estables ya que su valor depende de muchos factores y momentos. Para invertir en ellas
                        es recomendable mantenerse siempre informado y al día.</p>
                    <h2>Instrumentos de inversión en el sector inmobiliario</h2>
                    <p>En 2022, el sector inmobiliario se proyecta como uno de los rubros que seguirán ofreciendo buenos
                        rendimientos. En este sentido, hay que hacer una salvedad respecto a los otros activos citados:
                        las inversiones en bienes raíces suponen mucho menor riesgo.</p>
                    <p>De esta manera, instrumentos de inversión como las FIBRAS que permiten una entrada al mercado
                        inmobiliario sin tener que lidiar con la compraventa y administración de los bienes, son
                        alternativas muy apetecibles.</p>
                    <p>En este caso, el inversionista debe prestar más atención a la compañía encargada de la
                        administración del portafolio inmobiliario y a la configuración de éste. Con base en esa
                        información se elige depositar la confianza en una u otra FIBRA. </p>
                    <p>Además, es una buena oportunidad de obtener rendimientos en dólares, ya que una buena parte tanto
                        de los alquileres, así como las ventas en este sector, se concretan en moneda extranjera,
                        teniendo un efecto positivo en las distribuciones de efectivo en caso de que exista una
                        depreciación del dólar frente al peso. Este es un dato no menor de cara a un contexto de mayor
                        inflación.</p>
                    <p>Como inversionista, puedes tomar posición en bienes raíces de alta calidad mediante instrumentos
                        de inversión como las FIBRAs.</p>
                    <p>Visita <a href="{% url 'index' %}">Fibra MTY</a> si quieres conocer a fondo cómo trabajamos para
                        ofrecer un crecimiento constante
                        en las inversiones inmobiliarias.</p>
                    <p>Si buscas más información sobre inversiones financieras en bienes raíces, te invitamos a explorar
                        nuestro <a href="{% url 'escuela-fibra-finn' %}#blog">blog</a>.</p>
                    <p>Síguenos en nuestras redes de <a
                            href="https://twitter.com/fibra_mty"
                            target="_blank">Twitter</a> y <a target="_blank"
                             href="https://www.linkedin.com/company/fibramty">LinkedIn</a> para estar al tanto de todas nuestras
                        novedades.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
