{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        {#                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava<br>#}
                        <p>agosto del 2022</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Inversion-en-bienes-raices-a-montos-accesibles"
                         src="{% static 'images/post/22_agosto/2-54.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>
                        La competencia por adquirir el portafolio “Zeus” fue entre varios jugadores nacionales e
                        internacionales del sector inmobiliario. En esta gran competencia, FINSA y Walton Street optaron
                        por la fibra fideicomiso Fibra Mty, debido a su reputación en el mercado, la integridad de la
                        oferta, así como su capacidad y certidumbre de cierre.
                    </p>
                    <p>
                        Entérate de los detalles y de cuánto significa esta nueva adquisición para el posicionamiento de
                        Fibra Mty como una de las FIBRAs más importantes del país.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2>
                        Portafolio industrial Zeus, la más reciente adquisición de Fibra Mty
                    </h2>
                    <p>
                        El 29 de marzo, la fibra fideicomiso Fibra Mty, ha sumado a su capital el portafolio industrial
                        Zeus, uno de los proyectos de mayor interés en el mercado inmobiliario. Zeus se sitúa en 11
                        Estados del país y está conformado por 46 edificios industriales. La compraventa realizada fue
                        por el total del portafolio, que cuenta con un área bruta rentable de 822,052 m2 y una reserva
                        territorial total de 882,723 m2 aproximadamente.
                    </p>
                    <p>
                        Estos terrenos industriales están pensados para implementar diversas opciones que generen flujo
                        de efectivo adicional, ya sea mediante expansiones para arrendatarios existentes o a través de
                        la desincorporación de los terrenos para desarrollo, siempre y cuando lo permita la Ley del
                        Impuesto Sobre la Renta.
                    </p>
                    <p>
                        Al adquirir el portafolio industrial Zeus, Fibra Mty ha efectuado la segunda transacción de
                        compraventa más grande de México en los últimos años. En tanto, el pago por dicho portafolio ha
                        sido de $662 millones de dólares estadounidenses. A esta cantidad debe sumarse el IVA,
                        impuestos, costos y gastos de cierre.
                    </p>
                    <p>
                        Respecto a la confirmación de la compraventa, la Asamblea de Tenedores de Fibra Mty aprobó la
                        transacción; asimismo, la Comisión Federal de Competencia Económica (COFECE) manifestó su
                        aprobación o no objeción al convenio.
                    </p>
                    <h3>
                        ¿Qué representa el portafolio industrial Zeus para la fibra fideicomiso Fibra Mty?
                    </h3>
                    <p>
                        Con esta operación, Fibra Mty se ha posicionado como la empresa número uno a nivel nacional en
                        levantamientos de capital en el universo de acciones y FIBRAs. Además de este triunfo, con la
                        suma del portafolio Zeus, Fibra Mty ha multiplicado considerablemente su tamaño. Pues mientras
                        que en el cierre del 2022 concluyó con 60 propiedades, a tan solo 3 meses de iniciar el 2023 ha
                        superado las 100 propiedades.
                    </p>
                    <p>
                        En relación con los indicadores económicos de Zeus, se estima que el ingreso operativo neto es
                        de 53.3 millones de dólares, lo que equivale aproximadamente a una tasa de capitalización del
                        8.1 %. En cuanto a los ingresos por la renta industrial de los inmuebles del Fideicomiso, Zeus
                        los aumentará de un 50.4 % al 72.0 %.
                    </p>
                    <p>
                        El portafolio Zeus ha llegado a Fibra Mty para incrementar considerablemente el ingreso
                        operativo neto anual. Se espera que tal adquisición incremente el Ingreso Operativo Neto en
                        aproximadamente 80 %.
                    </p>
                    <p>
                        Igualmente, cabe destacar que, gracias a la amplitud de su portafolio, está aminorando los
                        factores de riesgo en la generación de flujo de efectivo, sobre todo al estimar que su ocupación
                        total es superior al 95 %, un porcentaje mayor que el obtenido a finales de 2022. Además, al
                        contar con un mayor número de inquilinos y de propiedades, el riesgo de mercado tuvo una
                        disminución relevante.
                    </p>
                    <p>
                        El portafolio industrial Zeus es importante para dicho Fideicomiso, en tanto que representa una
                        oportunidad altamente atractiva para ampliar su diversificación de portafolio con estos
                        inmuebles industriales.
                    </p>
                    <p>
                        También te puede interesar:
                        <a href="{% url 'noticia_36' %}"> ¿Por qué Fibra Mty es tu aliado ideal para Invertir en FIBRAS?
                            | Finn</a>
                    </p>
                    <h2>
                        Compromiso de Fibra Mty con el sector industrial
                    </h2>
                    <p>
                        Con dicho movimiento, Fibra Mty está aumentando su presencia geográfica, pasando de 9 a 14
                        mercados alrededor de México. Su interés por incrementar su presencia en el sector industrial se
                        debe a que ha observado el impacto que está generando la regionalización de cadenas de
                        suministro no solo en este país, sino en todo el mundo.
                    </p>
                    <p>
                        Además, es consciente de que el nearshoring es ya una realidad con miras a permanecer por varios
                        años. Esta estrategia de negocio es una de las principales tendencias dentro del portafolio,
                        pues gran número de sus inquilinos está relacionado con dicha actividad.
                    </p>
                    <h2>
                        Un gran logro de los inversionistas y de Fibra Mty
                    </h2>
                    <p>
                        La adquisición del portafolio industrial Zeus no habría sido posible sin la gran participación
                        de los accionistas ni su confianza en Fibra Mty. El apoyo que han demostrado a dicho fideicomiso
                        ha permitido sumar dos emisiones de capital realizadas de septiembre de 2022 a marzo de 2023 por
                        una cantidad mayor a 370 millones de dólares.
                    </p>
                    <p>
                        Estas transacciones fueron realizadas por medio de una oferta pública y una suscripción
                        preferente de capital. Con tales transacciones, Fibra Mty ha logrado ya seis emisiones públicas
                        de capital desde su oferta inicial, efectuada en 2014.
                    </p>
                    <p>
                        Como resultado del hallazgo que representa el portafolio industrial Zeus, Fibra Mty motiva a sus
                        inversionistas a seguir confiando en sus actividades. Asegura que en cada movimiento brindará la
                        información necesaria de forma clara y precisa, y que hoy más que nunca se compromete a hacer
                        crecer la rentabilidad del portafolio.
                    </p>
                    <h2>
                        Conviértete en un accionista de Fibra Mty e invierte en tu futuro
                    </h2>
                    <p>
                        Fibra Mty destaca, entre otras cosas, por ser la primera fibra en ser administrada y asesorada
                        internamente, generando economías de escala al incrementar el tamaño de su portafolio de
                        inversión, ahora de 106 propiedades. La inversión en bienes raíces hoy por hoy es el instrumento
                        que ofrece mejores resultados gracias a su estabilidad y rentabilidad, en comparación a otro
                        tipo de inversiones.
                    </p>
                    <p>
                        Forma parte del grupo de inversionistas de Fibra Mty y comienza a construir tu futuro con
                        ingresos constantes y seguros. Es tu momento de sumar a tu capital parte de la productividad que
                        genera un portafolio de la magnitud que tiene Zeus.
                    </p>
                    <p>
                        ¿Te interesa aprender más sobre inversión en bienes raíces, cómo funciona una fibra fideicomiso
                        y sobre las actividades de las FIBRAs en México? Entonces continúa consultando nuestro blog,
                        aquí encontrarás todo lo que necesitas para ser un inversionista de
                        <a href="https://www.fibramty.com/">Fibra Mty</a>.
                    </p>
                    <p>
                        ¡Entérate de nuestras actividades más recientes en
                        <a href="https://twitter.com/fibra_mty" target="_blank"> Twitter</a>!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
