{% extends 'layouts/base.html' %}
{% load static i18n %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/single.css' %}">
{% endblock %}

{% block content %}
    <section class=" single pb-0 overflow-visible position-relative bg-light-gray padding-eleven-lr lg-padding-four-lr">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 z-index-1 padding-10-rem-left padding-60px-bottom lg-padding-3-rem-left md-padding-15px-left">
                    <div class="d-flex flex-column justify-content-center h-100">
                        {#                        <div class="alt-font text-fast-blue text-uppercase font-weight-500 margin-30px-bottom xs-margin-10px-bottom">#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Inversiones</a><span class="margin-10px-lr">&#8226;</span>#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Fibras</a><span class="margin-10px-lr">&#8226;</span>#}
                        {#                            <a href="blog-grid.html" class="text-fast-blue">Finn</a>#}
                        {#                        </div>#}
                        <h3 class="alt-font font-weight-500 letter-spacing-minus-1px text-extra-dark-gray ">{{ title_meta }}</h3>
                        <span class="alt-font d-block margin-15px-tb">Por César Rubalcava <br>
                            <p>25 de Septiembre del 2019</p></span>
                    </div>
                </div>
                <div class="col-12 col-lg-6 px-0 order-1 align-self-end md-margin-60px-bottom">
                    <img class="overlap-image md-no-margin-bottom"
                         alt="Que-son-las-FIBRAs-Inmobiliarias-Inversiones-de-bajo-riesgo"
                         src="{% static 'images/post/Que-son-las-FIBRAs-Inmobiliarias-Inversiones-de-bajo-riesgo.jpg' %}"/>
                </div>
                <div class="col-12 col-lg-6 padding-9-rem-left overflow-hidden alt-font font-weight-600 text-white text-overlap-style-01 d-none d-md-block">
                    Blog
                </div>
            </div>
        </div>
    </section>

    <section class="single padding-70px-top sm-padding-50px-top">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-xl-5 col-lg-6 last-paragraph-no-margin padding-3-half-rem-left md-padding-15px-left">
                    <p>Las inversiones de bajo riesgo se consideran así por la baja probabilidad de tener pérdidas en el
                        capital invertido. Y, aunque su rendimiento muchas veces no se compara con las de alto riesgo,
                        en el caso de las <strong>FIBRAs inmobiliarias</strong> se obtienen beneficios que las
                        convierten en una de las
                        inversiones de bajo riesgo más rentables del mercado.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="single pt-0  lg-no-margin-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <h2 class="alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">FIBRAs inmobiliarias,
                        una inversión de bajo riesgo</h2>
                    <p>Las <strong>FIBRAs inmobiliarias</strong> son instrumentos de inversión bursátiles cuyas siglas
                        provienen de
                        “Fideicomiso de Infraestructura y Bienes Raíces” y su función es adquirir y administrar
                        inmuebles en diversos sectores como el industrial, de oficinas, comercial, hotelero, entre
                        otros. Todo esto con el objetivo de arrendar las propiedades y generar ingresos constantes. </p>

                    <p>Por su naturaleza bursátil, es decir, que cotizan en la <a href="https://www.bmv.com.mx/"
                                                                                  target="_blank">Bolsa Mexicana de
                        Valores</a>, con las FIBRAs
                        se tiene la posibilidad de invertir directamente en el mercado inmobiliario sin las
                        implicaciones que invertir de manera tradicional en bienes raíces traen consigo. </p>
                    <p>Por ejemplo, al hacer una inversión directamente en un inmueble como una casa o un local
                        comercial, deberás considerar:</p>
                    <ul class="ls-disc">
                        <li>Impuestos de adquisición y venta</li>
                        <li>Tiempo de espera para vender o rentar (inversión ilíquida)</li>
                        <li>Concentración de riesgo en un solo inmueble</li>
                        <li>Gastos de mantenimiento y operación</li>
                    </ul>
                    <p>Esto prácticamente se traduce en una inversión de alto riesgo debido a la falta de una salida
                        rápida, nula diversificación y altos costos de administración.</p>
                    <p>A diferencia de esto, las <strong>FIBRAs inmobiliarias</strong> representan una inversión de bajo
                        riesgo ya que
                        emiten Certificados Bursátiles Fiduciarios Inmobiliarios (CBFIs), los cuales son el equivalente
                        a las acciones, pero que al ser comprados ofrecen los siguientes beneficios: </p>
                    <ul class="ls-disc">
                        <li>No generan impuestos en la compraventa</li>
                        <li>Mayor diversificación en propiedades y ubicaciones</li>
                        <li>Inversión líquida (se compran y venden en cualquier momento)</li>
                        <li>Administración profesional de inmuebles para mantenimiento, operación y mejoras</li>
                        <li>Distribución de dividendos constantes (95% del Resultado Fiscal anual)
                        </li>
                    </ul>
                    <p>Dicho lo anterior, al adquirir un CBFI, el inversionista mantiene su capital estable y generando
                        ganancias con menores preocupaciones como el cubrir los costos de mantenimiento, operación y
                        mejora de las propiedades. </p>
                    <h2 class="alt-font text-extra-dark-gray font-weight-500 margin-20px-bottom">Tu mejor inversión</h2>
                    <p>En Fibra Mty tenemos una estrategia de crecimiento clara y consistente que nos ha permitido
                        expandir el tamaño de nuestros activos dentro del sector industrial y de oficinas. Somos la
                        emisora con más colocaciones en los últimos años sin sacrificar los altos niveles de
                        rentabilidad. </p>
                    <p>Si estás pensando en invertir en <strong>FIBRAs inmobiliarias</strong>, nuestra compañía es tu
                        mejor opción.
                        Actualmente contamos con:</p>
                    <ul class="ls-disc">
                        <li>Contratos de arrendamiento de largo plazo</li>
                        <li>Ingresos mayormente en dólares</li>
                        <li>Portafolio de calidad 100% estabilizado</li>
                        <li>Nivel de deuda por debajo del promedio del sector</li>
                        <li>Distribución mensual de dividendos en efectivo</li>
                    </ul>

                    <p>Redefinimos la renta inmobiliaria en México con una eficiencia operativa y financiera que ofrece
                        confianza y solidez a nuestros inversionistas. ¿Quieres invertir? ¡<a
                                href="{% url 'escuela-fibra-finn' %}">Clic aquí</a>!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
