{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <section class="s-block">
        <div class="container-fluid container-relative">
            <div class="row">
                <div class="col-md-12 text-justify">
                    <p>La Asamblea General de Tenedores (“Asamblea”) representará al conjunto de Tenedores y se
                        regirá por las disposiciones regulatorias aplicables; cualesquiera resoluciones tomadas en
                        dicha Asamblea serán vinculantes respecto de todos los Tenedores, aún respecto de los
                        ausentes y disidentes.</p>

                    <p>Tanto el Administrador, como los Tenedores, que en lo individual o conjuntamente, mantengan
                        la titularidad del 10% o más de los CBFIs en circulación, tendrán el derecho de solicitar al
                        Representante Común que convoque a una Asamblea especificando en su petición los puntos de
                        la orden del día que en la misma deberán tratarse. </p>

                    <p>Los Tenedores de los CBFIs se reunirán en una Asamblea cada vez que sean convocados por el
                        Representante Común o el Fiduciario y se celebrarán en el domicilio del Representante Común,
                        o en el lugar que se especifique en la convocatoria respectiva. Las convocatorias para las
                        Asambleas se publicarán al menos una vez en cualquier periódico de amplia circulación a
                        nivel nacional y a través de Emisnet, y serán entregadas al Fiduciario y al Administrador
                        por correo electrónico, con al menos 15 días naturales de anticipación a la fecha en que la
                        Asamblea deba reunirse y en la misma se expresarán los puntos que en la Asamblea deberán
                        tratarse. </p>

                    <p>La información y los documentos relacionados con el orden del día de una Asamblea deberán
                        estar disponibles, de forma gratuita, para revisión por parte de los Tenedores en el
                        domicilio que se indique en la convocatoria con por lo menos 15 días hábiles de anticipación
                        a la fecha de celebración de dicha Asamblea. </p>

                    <p>El Administrador y el Fiduciario tendrán en todo momento el derecho de asistir a cualquier
                        Asamblea con voz, pero sin derecho a voto, y por lo tanto el Administrador y el Fiduciario
                        no tendrán responsabilidad derivada de las resoluciones adoptadas en las mismas. </p>

                    <p>Una Asamblea anual Ordinaria de Tenedores se realizará dentro de los 4 meses siguientes al
                        final de cada ejercicio fiscal para:</p>


                    <ol class="ls-decimal">
                        <li>Discutir y, en su caso, aprobar los estados financieros anuales auditados del
                            Fideicomiso
                        </li>
                        <li>Discutir y, en su caso, aprobar el Reporte Anual</li>
                        <li>Elegir a Miembros Independientes y/o confirmar la independencia de los Miembros
                            Independientes del Comité Técnico, según sea el caso
                        </li>
                        <li>Aprobar cambios o confirmar los Lineamientos de Apalancamiento</li>
                    </ol>

                    <p>Adicionalmente, entre las principales facultades de la Asamblea Ordinaria de Tenedores, se
                        encuentran las siguientes:</p>

                    <ul class="ls-disc">
                        <li>Aprobación de ciertas inversiones, adquisiciones y desinversiones</li>
                        <li>Remoción y sustitución del Fiduciario</li>
                        <li>Emisiones adicionales de CBFIs y ampliaciones de las emisiones</li>
                        <li>Remuneración de los Miembros del Comité Técnico</li>
                        <li>Inversiones entre partes relacionadas</li>
                        <li>Aprobación de modificaciones a los Lineamientos de Apalancamiento aplicables al
                            Fideicomiso
                        </li>
                        <li> Modificaciones a los Lineamientos de Inversión y cualquier otro cambio en el régimen de
                            inversión del
                            Fideicomiso
                        </li>
                        <li>Aprobación de adquisiciones de CBFIs a través de ofertas públicas de compra</li>
                    </ul>
                    <p>Por su parte, son facultades de la Asamblea Extraordinaria de Tenedores, las siguientes:</p>

                    <ul class="ls-disc">
                        <li>Remoción y sustitución del Representante Común</li>
                        <li>Aprobar cualquier modificación al Contrato de Fideicomiso, al Título que ampara los
                            CBFIs, y al Contrato de Administración
                        </li>
                        <li>Cancelación del listado y cancelación del registro de los CBFIs</li>
                        <li>Disolución del Fideicomiso</li>
                        <li>Remoción de todos los Miembros del Comité Técnico</li>
                    </ul>

                    <p>Las actas de las Asambleas, así como todos los documentos presentados a la consideración de
                        la Asamblea, pueden ser consultados por los tenedores en todo momento a través del
                        Representante Común.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}